<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/user-online-view/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Index user</title>
  <th:block id="th-css">
    <link rel="stylesheet" th:href="@{/assets/user-online/css/plugins.css}">
  </th:block>
</head>
<body>

<th:block id="th-body">
  
  <!--Body Content-->
  <div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center mt-5">
      <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Profile</h1></div>
      </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
      <div class="row billing-fields">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 sm-margin-30px-bottom">
          <div class="create-ac-content bg-light-gray padding-20px-all">
            <form>
              <fieldset>
                <h2 class="login-title mb-3">Your infomation</h2>
                <div class="row">
                  <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                    <label for="input-lastname">Full Name <span class="required-f">*</span></label>
                    <input name="lastname" th:value="${loggedUser.fullName}" id="input-lastname" type="text">
                  </div>
                  <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                    <label for="input-email">E-Mail <span class="required-f">*</span></label>
                    <input name="email" th:value="${loggedUser.email}" id="input-email" type="email">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                    <label for="input-telephone">Telephone <span class="required-f">*</span></label>
                    <input name="telephone" th:value="${loggedUser.phoneNumber}" id="input-telephone" type="tel">
                  </div>
                </div>
              </fieldset>
              
              <fieldset>
                <div class="row">
                  <!-- Address label and input field -->
                  <div class="form-group col-md-10 col-lg-10 col-xl-10">
                    <label>Địa chỉ<span class="required-f">*</span></label>
                  </div>
                  
                  <!-- Add Address Button aligned with the label -->
                  <div class="form-group col-md-2 col-lg-2 col-xl-2 d-flex align-items-end">
                    <button type="button" class="btn btn-primary w-100" data-toggle="modal"
                            data-target="#createAddressModal">Thêm địa chỉ mới
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12 col-lg-12 col-xl-12">
                    <div class="request-wrapper">
                      <div th:each="address : ${listAddress}" class="py-2 px-3 bg-white shadow-sm my-3 rounded">
                        <div class="row d-flex justify-content-between align-items-center">
                          <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
                            <div>
                              
                              <div class="my-2">
                                <span class="font-italic font-bold" th:text="${address.detailAddress}"></span>
                              </div>
                              
                              <div class="my-2">
                                <span class="font-weight-bold"
                                      th:text="${address.province} + ', ' + ${address.district} + ', ' + ${address.ward} "></span>
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="col-12 col-md-6 text-right">
                            <div class="my-2">
                              <button type="button" class="btn btn-sm btn-outline-primary mx-2"
                                      data-toggle="modal"
                                      data-target="#editAddressModal"
                                      th:data-provinceId="${address.provinceId}"
                                      th:data-districtId="${address.toDistrictId}"
                                      th:data-wardCode="${address.wardCode}"
                                      th:data-addressDetail="${address.detailAddress}"
                                      th:data-addressId="${address.id}">
                                <!--                                <i class="fa-solid fa-pencil"></i>-->
                                Edit
                              </button>
                              
                              <button type="button"
                                      data-toggle="modal"
                                      data-target="#deleteAddressModal"
                                      class="btn btn-sm btn-outline-warning mx-2"
                                      th:data-addressId="${address.id}">
                                Delete
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <!--End Body Content-->
  
  <!--Create address modal start-->
  <div class="modal fade bd-example-modal-xl" id="createAddressModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen" role="document"
         style="max-width: 50% !important;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm địa chỉ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="form-validation">
                      <form action="#" id="createAddressForm">
                        <div class="row">
                          <div class="form-group col-md-4 col-lg-4 col-xl-4 required">
                            <label>Tỉnh / Thành Phố</label>
                            <select id="create_address_province" class="address-select" data-default="">
                            </select>
                          </div>
                          
                          <div class="form-group col-md-4 col-lg-4 col-xl-4 required">
                            <label>Quận / Huyện</label>
                            <select id="create_address_district" class="address-select" data-default="">
                            </select>
                          </div>
                          
                          <div class="form-group col-md-4 col-lg-4 col-xl-4 required">
                            <label>Phường / Xã</label>
                            <select id="create_address_ward" class="address-select" data-default="">
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-12 col-lg-12 col-xl-12 required">
                            <label>Địa chỉ cụ thể <span class="required-f">*</span></label>
                            <textarea class="form-control resize-both" rows="3"
                                      id="create_address_detail"></textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger light"
                                  data-dismiss="modal">Close
                          </button>
                          <button type="submit" class="btn btn-primary">Save
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Create address modal end-->
  
  <!-- Edit Address Modal -->
  <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editAddressForm">
            <div class="row">
              <div class="form-group col-md-4">
                <label>Province</label>
                <select id="edit_address_province" class="address-select">
                  <!-- Dynamically populated provinces -->
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="edit_address_district">District</label>
                <select id="edit_address_district" class="address-select">
                  <!-- Dynamically populated districts -->
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="edit_address_ward">Ward</label>
                <select id="edit_address_ward" class="address-select">
                  <!-- Dynamically populated wards -->
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="edit_address_detail">Detail Address</label>
                <textarea id="edit_address_detail" name="detailAddress" class="form-control"></textarea>
              </div>
            </div>
            <input type="hidden" id="edit_address_id" name="id"> <!-- Hidden field for address ID -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Address Modal -->
  
  <!-- Delete Address Modal -->
  <div class="modal fade" id="deleteAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn chắc là muốn xóa địa chỉ này chứ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form id="deleteTransactionForm" method="post" action="">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Address Modal -->
  
  
  <!--Scoll Top-->
  <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
  <!--End Scoll Top-->

</th:block>

</body>
<th:block id="th-js">
  <script th:src="@{/assets/user-online/js/vendor/jquery-3.3.1.min.js}"></script>
  <script>
    function fetchProvinces() {
      $.ajax({
        url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/province",
        method: "GET",
        headers: {
          "token": "36016710-fd7f-11ef-99a6-0684416c0dbe"
        },
        success: function (data) {
          const provinces = data.data;
          const provinceSelects = ["#create_address_province", "#edit_address_province"];
          
          provinceSelects.forEach(function (selectId) {
            const provinceSelect = $(selectId)[0];
            provinceSelect.innerHTML = "";  // Clear existing options
            
            const defaultOption = document.createElement("option");
            defaultOption.text = "Select Province";
            provinceSelect.appendChild(defaultOption);
            
            provinces.forEach(function (province) {
              const option = document.createElement("option");
              option.value = province.ProvinceID;
              option.text = province.ProvinceName;
              provinceSelect.appendChild(option);
            });
          });
        },
        error: function (xhr, status, error) {
          console.error("Error fetching provinces:", status, error);
        }
      });
    }
    
    function fetchDistricts(provinceId, modalPrefix, callback) {
      $.ajax({
        url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/district",
        method: "GET",
        headers: {
          "token": "36016710-fd7f-11ef-99a6-0684416c0dbe"
        },
        data: {province_id: provinceId},
        success: function (data) {
          const districts = data.data;
          const districtSelect = $(`#${modalPrefix}_address_district`)[0];
          
          districtSelect.innerHTML = "";  // Clear existing options
          const defaultOption = document.createElement("option");
          defaultOption.text = "Select District";
          districtSelect.appendChild(defaultOption);
          
          districts.forEach(function (district) {
            const option = document.createElement("option");
            option.value = district.DistrictID;
            option.text = district.DistrictName;
            districtSelect.appendChild(option);
          });
          
          // Callback after district options are populated
          if (callback) callback();
        },
        error: function (xhr, status, error) {
          console.error("Error fetching districts:", status, error);
        }
      });
    }
    
    function fetchWards(districtId, modalPrefix, callback) {
      $.ajax({
        url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/ward",
        method: "GET",
        headers: {
          "token": "36016710-fd7f-11ef-99a6-0684416c0dbe"
        },
        data: {district_id: districtId},
        success: function (data) {
          const wards = data.data;
          const wardSelect = $(`#${modalPrefix}_address_ward`)[0];
          
          wardSelect.innerHTML = "";  // Clear existing options
          const defaultOption = document.createElement("option");
          defaultOption.text = "Select Ward";
          wardSelect.appendChild(defaultOption);
          
          wards.forEach(function (ward) {
            const option = document.createElement("option");
            option.value = ward.WardCode;
            option.text = ward.WardName;
            wardSelect.appendChild(option);
          });
          
          // Callback after ward options are populated
          if (callback) callback();
        },
        error: function (xhr, status, error) {
          console.error("Error fetching wards:", status, error);
        }
      });
    }
    
    
    $(document).on('click', '[data-target="#editAddressModal"]', function () {
      const button = $(this);
      
      // Fetch values from data attributes
      const addressId = button.data('addressid');
      const provinceId = button.data('provinceid');
      const districtId = button.data('districtid');
      const wardCode = button.data('wardcode');
      const addressDetail = button.data('addressdetail');
      
      console.log('addressId:', addressId);
      console.log('provinceId:', provinceId);
      console.log('districtId:', districtId);
      console.log('wardCode:', wardCode);
      console.log('addressDetail:', addressDetail);
      
      // Set the selected province in the modal
      $('#edit_address_province').val(provinceId);
      
      // Fetch and set the districts based on the selected province
      fetchDistricts(provinceId, 'edit', function () {
        // Set the selected district after the districts are populated
        $('#edit_address_district').val(districtId);
        
        // Fetch and set the wards based on the selected district
        fetchWards(districtId, 'edit', function () {
          // Set the selected ward after the wards are populated
          $('#edit_address_ward').val(wardCode);
        });
      });
      
      // Set the other values
      $('#edit_address_detail').val(addressDetail);
      $('#edit_address_id').val(addressId);
      
    });
    
    // Handle form submission for Create Address
    $('#createAddressForm').on('submit', function (event) {
      event.preventDefault();
      
      const requestBody = {
        district: $('#create_address_district').find(":selected").text(),
        districtId: $('#create_address_district').val(),
        province: $('#create_address_province').find(":selected").text(),
        provinceId: $('#create_address_province').val(),
        ward: $('#create_address_ward').find(":selected").text(),
        wardCode: $('#create_address_ward').val(),
        detailAddress: $('#create_address_detail').val()
      };
      
      $.ajax({
        url: "/online/customer/address",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(requestBody),
        success: function () {
          window.location.reload();
        },
        error: function (xhr, status, error) {
          console.error("Error adding new address", status, error);
          alert("Failed to add new address. Please try again later.");
        }
      });
    });
    
    // Handle form submission for Edit Address
    $('#editAddressForm').on('submit', function (event) {
      event.preventDefault();
      
      const addressId = $('#edit_address_id').val();
      console.log("Updated addressID: ", addressId);
      const updatedAddress = {
        district: $('#edit_address_district').find(":selected").text(),
        districtId: $('#edit_address_district').val(),
        province: $('#edit_address_province').find(":selected").text(),
        provinceId: $('#edit_address_province').val(),
        ward: $('#edit_address_ward').find(":selected").text(),
        wardCode: $('#edit_address_ward').val(),
        detailAddress: $('#edit_address_detail').val()
      };
      
      $.ajax({
        url: `/online/customer/address/${addressId}`,
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(updatedAddress),
        success: function () {
          window.location.reload();
        },
        error: function (xhr, status, error) {
          console.error('Error updating address:', error);
          alert('Failed to update address. Please try again later.');
        }
      });
    });
    
    // Event listeners for province, district, and ward selection for both modals
    $('#create_address_province, #edit_address_province').on('change', function () {
      const selectedProvinceId = $(this).val();
      if (selectedProvinceId) {
        fetchDistricts(selectedProvinceId, $(this).attr('id').includes('create') ? 'create' : 'edit');
      }
    });
    
    $('#create_address_district, #edit_address_district').on('change', function () {
      const selectedDistrictId = $(this).val();
      if (selectedDistrictId) {
        fetchWards(selectedDistrictId, $(this).attr('id').includes('create') ? 'create' : 'edit');
      }
    });
    
    // Initialize provinces when the page loads
    $(document).ready(function () {
      fetchProvinces();
    });
    
    $(document).on('click', '[data-target="#deleteAddressModal"]', function () {
      const addressId = $(this).data('addressid');
      const formAction = `/online/customer/address/delete/${addressId}`;
      $('#deleteTransactionForm').attr('action', formAction);
    });
  
  </script>

</th:block>
</html>