<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/user-online-view/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Index user</title>
  <th:block id="th-css">
    <style>
      
      /* Fix the table's layout */
      /*table {*/
      /*  width: 100%;*/
      /*  border-collapse: collapse;*/
      /*}*/
      
      /* Make the tbody scrollable */
      .cart-body {
        display: block;
        max-height: 600px; /* Adjust the height to fit around 7 rows */
        overflow-y: auto;
      }
      
      /* Ensure the thead stays fixed and aligns with tbody */
      thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
      
      thead th {
        position: sticky;
        top: 0;
        background-color: #fff; /* Set background color for the header */
        z-index: 1;
      }
      
      /* Ensure table cells don't wrap */
      .table th, .table td {
        white-space: nowrap;
      }
    
    </style>
  </th:block>
</head>
<body>

<th:block id="th-body">
  <!--Body Content-->
  <div id="page-content">
    <!--Page Title-->
    <div class="page section-header mt-5 text-center">
      <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Giỏ hàng</h1></div>
      </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
          <form action="#" method="post" class="cart style2">
            <table>
              <thead class="cart__row cart__header">
              <tr>
                <th>
                  <div class="custom-control custom-checkbox checkbox-success check-lg mr-3 mb-4"
                       style="display: inline-block;">
                    <input type="checkbox" class="custom-control-input" id="checkAll">
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </th>
                <th colspan="2" class="text-center">Sản phẩm</th>
                <th class="text-center">Giá tiền</th>
                <th class="text-center">Số lượng</th>
                <th class="text-right">Tổng</th>
                <th class="action">&nbsp;</th>
              </tr>
              </thead>
              <tbody class="cart-body">
              <tr th:if="${#lists.isEmpty(cartDetailList)}">
                <td colspan="10" class="text-center pt-5"><h3>KHÔNG TÌM THẤY DỮ LIỆU</h3></td>
              </tr>
              <tr class="cart__row border-bottom line1 cart-flex border-top" th:each="cartDetail: ${cartDetailList}">
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" th:id="'customCheck_' + ${cartDetail.id}">
                    <label class="custom-control-label" th:for="'customCheck_' + ${cartDetail.id}"></label>
                  </div>
                </td>
                <td class="cart__image-wrapper cart-flex-item">
                  <input type="text" hidden th:value="${cartDetail.productDetailId}" class="productDetailId">
                  <input type="text" hidden th:value="${cartDetail.id}" class="cartDetailId">
                  <a th:href="@{/shop/{id}(id= ${cartDetail.productDetailId})}">
                    <img class="cart__image" th:src="${cartDetail.productFeatureImageUrl}"
                         alt="Elastic Waist Dress - Navy / Small">
                  </a>
                </td>
                <td class="cart__meta small--text-left cart-flex-item">
                  <div class="list-view-item__title">
                    <a th:href="@{/shop/{id}(id= ${cartDetail.productDetailId})}"
                       th:text="${cartDetail.productName}"></a>
                  </div>
                  <div class="cart__meta-text">
                    Color: [[${cartDetail.colorName}]]<br>Size: [[${cartDetail.sizeName}]]<br>
                  </div>
                </td>
                <td class="cart__price-wrapper cart-flex-item">
                    <span class="money"
                          th:text="${#numbers.formatDecimal(cartDetail.price, 0, 'POINT', 0, 'POINT')} + ' VND'"></span>
                </td>
                <td class="cart__update-wrapper cart-flex-item text-right">
                  <div class="cart__qty text-center">
                    <div class="qtyField">
                      <button class="qtyBtn minus">
                        <i class="icon icon-minus"></i>
                      </button>
                      <input class="cart__qty-input qty" type="text" name="updates[]"
                             th:value="${cartDetail.quantity}"
                             pattern="[0-9]*">
                      <button class="qtyBtn plus">
                        <i class="icon icon-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-right small--hide cart-price">
                  <div><span class="money"
                             th:text="${#numbers.formatDecimal(cartDetail.subtotal, 0, 'POINT', 0, 'POINT')} + ' VND'"></span>
                  </div>
                </td>
                <td class="text-center small--hide">
                  <a th:href="@{/cart/delete/{id}(id=${cartDetail.id})}" class="btn btn--secondary cart__remove"
                     title="Remove item"><i
                      class="icon icon anm anm-times-l"></i></a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="3" class="text-left">
                  <a th:href="@{/shop}" class="btn btn-secondary btn--small cart-continue">Tiếp tục mua hàng</a>
                </td>
                <!--                  <td colspan="3" class="text-right">-->
                <!--                    <button type="submit" name="clear" class="btn btn-secondary btn&#45;&#45;small  small&#45;&#45;hide">Clear Cart-->
                <!--                    </button>-->
                <!--                  </td>-->
              </tr>
              </tfoot>
            </table>
          </form>
        </div>
        
        
        <div class="container mt-4">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-4">
            </div>
            
            <div class="col-12 col-sm-12 col-md-4 col-lg-6 cart__footer">
              <div class="solid-border">
                <div class="row border-bottom pb-2 pt-2">
                  <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Tổng tiền</strong></span>
                  <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
        <span class="money"
              th:text="${shoppingCart != null && shoppingCart.totalPrice != null ? #numbers.formatDecimal(shoppingCart.totalPrice, 0, 'POINT', 0, 'POINT') : 0} + ' VND'"></span>
    </span>
                </div>
                <div class="cart__shipping">Phí ship sẽ được cộng khi thanh toán</div>
                <p class="cart_tearm">
                  <!--                  <label>-->
                  <!--                    <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">-->
                  <!--                    Tôi đồng ý với các điều khoản và điều kiện-->
                  <!--                  </label>-->
                </p>
                <a th:href="@{/bill/checkout}" type="submit" name="checkout" id="cartCheckout"
                   class="btn btn--small-wide checkout"
                   value="Proceed To Checkout" disabled="disabled">Thanh toán
                </a>
                <div class="paymnet-img"><img src="assets/user-online/images/payment-img.jpg" alt="Payment"></div>
                <!--                <p><a href="#;">Checkout with Multiple Addresses</a></p>-->
              </div>
            
            </div>
          </div>
        </div>
      
      </div>
    </div>
  
  </div>
  <!--End Body Content-->
</th:block>

</body>
<th:block id="th-js">
  <script th:src="@{/assets/user-online/js/vendor/jquery-3.3.1.min.js}"></script>
  
  <script>
    $(document).ready(function () {
      // Khi checkbox "Chọn tất cả" được thay đổi
      $('#checkAll').change(function () {
        var isChecked = $(this).prop('checked'); // Kiểm tra trạng thái của checkbox "Chọn tất cả"
        
        // Cập nhật tất cả các checkbox trong tbody dựa trên trạng thái của "Chọn tất cả"
        $('tbody .custom-control-input').prop('checked', isChecked);
      });
      
      // Khi một checkbox trong tbody được thay đổi
      $('tbody .custom-control-input').change(function () {
        // Kiểm tra xem có bất kỳ checkbox nào chưa được chọn
        var allChecked = $('tbody .custom-control-input').length === $('tbody .custom-control-input:checked').length;
        
        // Cập nhật trạng thái của checkbox "Chọn tất cả" dựa trên trạng thái của các checkbox trong tbody
        $('#checkAll').prop('checked', allChecked);
      });
    });
  
  </script>
</th:block>
</html>