<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/user-online-view/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
    <meta charset="UTF-8">
    <title>Index user</title>
    <th:block id="th-css">
        <style>

            /* Fix the table's layout */
            /*table {*/
            /*  width: 100%;*/
            /*  border-collapse: collapse;*/
            /*}*/

            /* Make the tbody scrollable */
            .cart-body {
                display: block;
                max-height: 600px; /* Adjust the height to fit around 7 rows */
                overflow-y: auto;
            }

            /* Ensure the thead stays fixed and aligns with tbody */
            thead, tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            thead th {
                position: sticky;
                top: 0;
                background-color: #fff; /* Set background color for the header */
                z-index: 1;
            }

            /* Ensure table cells don't wrap */
            .table th, .table td {
                white-space: nowrap;
            }

            .disabled-voucher {
                opacity: 0.5;
                pointer-events: none;
            }
        </style>
    </th:block>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <!-- JavaScript Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>

<th:block id="th-body">
    <!-- Toast container -->
    <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;"></div>
    <!--Body Content-->
    <div id="page-content">
        <!--Page Title-->
        <div class="page section-header mt-5 text-center">
            <div class="page-title">
                <div class="wrapper"><h1 class="page-width">Giỏ hàng</h1></div>
            </div>
        </div>
        <!--End Page Title-->

        <div class="container">
            <div class="row">

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                        <table>
                            <thead class="cart__row cart__header">
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox checkbox-success check-lg mr-3 mb-4"
                                         style="display: inline-block;">
                                        <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th colspan="2" class="text-center">Sản phẩm</th>
                                <th class="text-center">Giá tiền</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-right">Tổng tiền</th>
                                <th class="action">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody class="cart-body" id="cart-body">
                            <tr>
                                <td colspan="10" class="text-center pt-5"><h3>Giỏ hàng của bạn đang trống</h3></td>
                            </tr>
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               name="selectedCartDetailIds">
                                        <label class="custom-control-label" ></label>
                                    </div>
                                </td>
                                <td class="cart__image-wrapper cart-flex-item">
                                    <input type="text" hidden  class="productDetailId">
                                    <input type="text" hidden class="cartDetailId">

                                        <img class="cart__image"
                                             alt="Elastic Waist Dress - Navy / Small">
                                    </a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">

                                    </div>
                                    <div class="cart__meta-text">
                                        Color: <br>
                                    </div>
                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                    <span class="money"
                        >340000VND</span>
                                </td>
                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="cart__qty text-center">
                                        <div class="qtyField">
                                            <button class="qtyBtn minus">
                                                <i class="icon icon-minus"></i>
                                            </button>
                                            <input class="cart__qty-input qty" type="text" name="updates[]"
                                                   disabled
                                                   pattern="[0-9]*">
                                            <button class="qtyBtn plus">
                                                <i class="icon icon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right small--hide cart-price">
                                    <div><span class="money"
                                             ></span>
                                    </div>
                                </td>
                                <td class="text-center small--hide">
                                    <a class="btn btn--secondary cart__remove"
                                       title="Remove item"><i
                                            class="icon icon anm anm-times-l"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="text-left">
                                    <a th:href="@{/shop}" class="btn btn-secondary btn--small cart-continue">Tiếp tục mua hàng</a>
                                </td>
                                <!--                  <td colspan="3" class="text-right">-->
                                <!--                    <button type="submit" name="clear" class="btn btn-secondary btn&#45;&#45;small  small&#45;&#45;hide">Clear Cart-->
                                <!--                    </button>-->
                                <!--                  </td>-->
                            </tr>
                            </tfoot>
                        </table>
                        <!--          </form>-->
                    </div>


                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-4">
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-6 cart__footer">
                                <div class="solid-border">
                                    <h2 class="order-title mb-0 " style="text-align: center">Đơn hàng</h2>
                                    <!-- Voucher chọn mã -->
                                    <div class="row border-bottom pb-2 pt-2 align-items-center">
                                        <div class="col-6">
                                            <span class="cart__subtotal-title font-weight-bold">Giảm giá</span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button class="btn btn-outline-primary" id="openVoucherModalBtn">Chọn mã giảm giá</button>
                                        </div>
                                        <!--                  <div class="col-6 text-right">-->
                                        <!--                    <button type="button" id="openVoucherModalBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalVoucher">-->
                                        <!--                      Chọn mã giảm giá-->
                                        <!--                    </button>-->
                                        <!--                  </div>-->
                                    </div>

                                    <!-- Dòng đơn hàng và giảm -->
                                    <div class="row pb-2 pt-2">
                                        <div class="col-6">
                                            <span class="cart__subtotal-title" id="cart__subtotal-title">Đơn hàng</span>
                                        </div>
                                        <div class="col-6 text-right">
                      <span class="cart__subtotal-title money" id="cart__subtotal-title money"
                        >
                      </span>
                                        </div>
                                    </div>
                                    <div class="row border-bottom pb-2 pt-2">
                                        <div class="col-6">
                                            <span class="cart__subtotal-title">Giảm</span>
                                            <input type="hidden" id="selectedVoucherId" name="voucherId" value="">
                                        </div>
                                        <div class="col-6 text-right">
                      <span class="cart__subtotal-title money" id="voucher">
                        0 VND
                      </span>
                                        </div>
                                    </div>

                                    <div class="row border-bottom pb-2 pt-2">
                                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Tổng tiền</strong></span>
                                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right" id="totalPayMent"></span>
                    <span class="money"></span>
                                    </div>
                                    <div class="cart__shipping">Phí ship sẽ được cộng khi thanh toán</div>
                                    <p class="cart_tearm">
                                    </p>
                                    <!--                  <a th:href="@{/bill/checkout}" type="submit" name="checkout" id="cartCheckout"-->
                                    <!--                     class="btn btn&#45;&#45;small-wide checkout"-->
                                    <!--                     value="Proceed To Checkout" disabled="disabled">Thanh toán-->
                                    <!--                  </a>-->
                                    <button  name="checkout" id="cart_checkout_button" class="btn btn--small-wide checkout">
                                        Thanh toán
                                    </button>

                                    <div class="paymnet-img"><img src="assets/user-online/images/payment-img.jpg" alt="Payment"></div>
                                </div>

                            </div>
                        </div>
                    </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="modalVoucher" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0">Chọn mã giảm giá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="voucherList"></div>
<!--                <div class="modal-body" style="max-height: 450px; overflow-y: auto;">-->
<!--                    &lt;!&ndash; Lặp lại phần này với mỗi voucher (render bằng JS hoặc backend) &ndash;&gt;-->
<!--                    <div class="voucher-item border rounded p-3 mb-2 d-flex justify-content-between align-items-center">-->
<!--                        <div class="voucher-info">-->
<!--                            <p class="mb-1" id="nameVoucher"><span>Tên mã giảm giá</span></p>-->
<!--                            <p class="mb-1" id="discount">Giảm: <span>100,000</span> VND</p>-->
<!--                            <p class="mb-1" id="miniBill">Đơn tối thiểu: <span>500,000</span> VND</p>-->
<!--                            <p class="mb-0" id="endDate">HSD: <span>31/12/2025</span></p>-->
<!--                        </div>-->
<!--                        <div class="voucher-select">-->
<!--                            <input type="radio"-->
<!--                                   name="selectedVoucher"-->
<!--                                   value="1"-->
<!--                                   data-value="100000"-->
<!--                                   data-name="GIAM100"-->
<!--                                   data-minimum="500000"-->
<!--                                   style="transform: scale(1.3); cursor: pointer;">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCancelVoucher">Hủy mã giảm giá</button>
                    <button type="button" class="btn btn-primary" id="btnApplyVoucher">Chọn</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Body Content-->
</th:block>

</body>
<th:block id="th-js">
    <script th:src="@{/assets/user-online/js/vendor/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/cartNoLogin/cartNoLogin.js}"></script>


</th:block>
</html>