<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	  th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
	<meta charset="UTF-8">
	<title>Quản lý khách hàng</title>
	<th:block id="th-css"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block id="th-body">
	<div class="content-body" style="min-height: 876px;">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header d-sm-flex d-block">
					<div class="mr-auto mb-sm-0 mb-3">
						<h4 class="card-title mb-2">Quản lý nhân viên</h4>
						<!--							<span>Lorem Ipsum sit amet</span>-->
					</div>
					<a href="javascript:void(0);" class="btn btn-info light mr-3"><i class="las la-download scale3 mr-2"></i>Import Csv</a>
					<a href="/customer-management/view-add" class="btn btn-info">+ Add Khách hàng</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<div id="ListDatatableView_wrapper" class="dataTables_wrapper no-footer"><table class="table style-1 dataTable no-footer" id="ListDatatableView" role="grid" aria-describedby="ListDatatableView_info">
							<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 40.2px;">STT</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="CUSTOMER: activate to sort column ascending" style="width: 232.175px;">KHÁCH HÀNG</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="COUNTRY: activate to sort column ascending" style="width: 100.55px;">SỐ ĐIỆN THOẠI</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="DATE: activate to sort column ascending" style="width: 119.838px;">NGÀY SINH</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="COMPANY NAME: activate to sort column ascending" style="width: 100.075px;">GIỚI TÍNH</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="STATUS: activate to sort column ascending" style="width: 108.275px;">TRẠNG THÁI</th>
								<th class="sorting" tabindex="0" aria-controls="ListDatatableView" rowspan="1" colspan="1" aria-label="ACTION: activate to sort column ascending" style="width: 124.088px;">HÀNH ĐỘNG</th></tr>
							</thead>
							<tbody>
							<tr role="row" class="odd" th:each="customer, index : ${customer}">
								<td class="sorting_1">
									<h6 th:text="${index.count}"></h6>
								</td>
								<td>
									<div class="media style-1">
										<img th:src="@{'/assets/images/avatar/' + ${customer.avatar}}" class="img-fluid mr-2" alt="">
										<div class="media-body">
											<h6 th:text="${customer.fullName}"></h6>
											<span><a th:text="${customer.email}" class="__cf_email__" data-cfemail="6c060304020803092c0b010d0500420f0301">[email&nbsp;protected]</a></span>
										</div>
									</div>
								</td>
								<td>
									<div>
										<h6 th:text="${customer.phoneNumber}"></h6>
									</div>
								</td>
								<td>
									<div>
										<h6 class="text-primary" th:text="${#dates.format(customer.dateOfBirth, 'dd/MM/yyyy')}"></h6>
									</div>
								</td>
								<td>
									<div>
										<h6 class="text-primary" th:text="${customer.gender ? 'Nam' : 'Nữ'}"></h6>
									</div>
								</td>
								<td><span class="badge badge-warning"  th:text="${customer.status == T(org.fpoly.capstone.entity.enum_status.UserStatus).ACTIVATED ? 'Kích hoạt'
								  : (customer.status == T(org.fpoly.capstone.entity.enum_status.UserStatus).NOT_ACTIVATED ? 'Chưa kích hoạt'
								  : 'Đã nghỉ việc')}"></span>
								</td>
								<td>
									<div class="d-flex action-button">
										<a th:href="@{/customer-management/detail/{id}(id=${customer.id})}" title="Chi tiết nhân viên" href="javascript:void(0);" class=" btn btn-xs px-2 light btn-danger">
											<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect>
													<circle fill="#000000" cx="5" cy="12" r="2"></circle>
													<circle fill="#000000" cx="12" cy="12" r="2"></circle>
													<circle fill="#000000" cx="19" cy="12" r="2"></circle></g>
											</svg>
										</a>

										<a th:href="@{/customer-management/view-update/{id}(id=${customer.id})}" title="Cập nhật nhân viên" href="javascript:void(0);" class="ml-2 btn btn-info btn-xs light px-2">
											<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="">
												<path d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
										</a>
									</div>
								</td>
							</tr></tbody>
						</table><div class="dataTables_info" id="ListDatatableView_info" role="status" aria-live="polite">Showing 1 to 10 of 14 entries</div><div class="dataTables_paginate paging_simple_numbers" id="ListDatatableView_paginate"><a class="paginate_button previous disabled" aria-controls="ListDatatableView" data-dt-idx="0" tabindex="0" id="ListDatatableView_previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a><span><a class="paginate_button current" aria-controls="ListDatatableView" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="ListDatatableView" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="ListDatatableView" data-dt-idx="3" tabindex="0" id="ListDatatableView_next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</body>
</html>