<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý khách hàng</title>
    <th:block id="th-css"></th:block>
</head>
<body>
<th:block id="th-body">
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thêm khách hàng</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide"
                                      method="post"
                                      th:action="@{/customer-management/add}"
                                      enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="fullName">Họ và tên</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="fullName" th:field="*{customer.fullName}" placeholder="Nhập họ và tên...">
                                                    <p class="error" th:if="${errors['fullName']}" th:text="${errors['fullName']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="email">Email</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="email" th:field="*{customer.email}" placeholder="Nhập email...">
                                                    <p class="error" th:if="${errors['email']}" th:text="${errors['email']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="phoneNumber">Số điện thoại</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="phoneNumber" th:field="*{customer.phoneNumber}" placeholder="Nhập số điện thoại...">
                                                    <p class="error" th:if="${errors['phoneNumber']}" th:text="${errors['phoneNumber']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="dateOfBirth">Ngày sinh</label>
                                                <div class="col-lg-6">
                                                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{customer.dateOfBirth}" min="1944-01-01" max="2006-12-31">
                                                    <p class="error" th:if="${errors['dateOfBirth']}" th:text="${errors['dateOfBirth']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Giới tính</label>
                                                <div class="col-lg-6">
                                                    <div class="mt-2">
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{customer.gender}" value="true"> Nam
                                                        </label>
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{customer.gender}" value="false"> Nữ
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <p class="error" th:if="${errors['gender']}" th:text="${errors['gender']}" th:classappend="text-danger"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="roles">Vai trò</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="roles" th:field="*{customer.roles}">
                                                        <option th:value="${T(org.fpoly.capstone.entity.enum_status.UserRole).ROLE_CUSTOMER}">Khách hàng</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Tỉnh/Thành Phố</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="provinceSelect" th:field="*{address.provinceId}" name="provinceId">
                                                        <option value="">Chọn</option>
                                                    </select>
                                                    <input type="hidden" id="provinceName" th:field="*{address.province}" name="province">
                                                    <p class="error" th:if="${errorsAddress['provinceId']}" th:text="${errorsAddress['provinceId']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Quận/Huyện</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="districtSelect" th:field="*{address.toDistrictId}" name="toDistrictId">
                                                        <option value="">Chọn</option>
                                                    </select>
                                                    <input type="hidden" id="districtName" th:field="*{address.district}" name="district">
                                                    <p class="error" th:if="${errorsAddress['toDistrictId']}" th:text="${errorsAddress['toDistrictId']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Xã/Phường</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="wardSelect" th:field="*{address.wardCode}" name="wardCode">
                                                        <option value="">Chọn</option>
                                                    </select>
                                                    <input type="hidden" id="wardName" th:field="*{address.ward}" name="ward">
                                                    <p class="error" th:if="${errorsAddress['wardCode']}" th:text="${errorsAddress['wardCode']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Số nhà/Ngõ/Đường</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" th:field="*{address.line}" name="line" placeholder="Nhập địa chỉ cụ thể...">
                                                    <p class="error" th:if="${errorsAddress['line']}" th:text="${errorsAddress['line']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Trạng thái</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" th:field="*{customer.status}" >
                                                        <option th:value="ACTIVATED">Kích hoạt</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Ảnh đại diện</label>
                                                <div class="col-lg-6 d-flex flex-column align-items-center">
                                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm" style="max-width: 300px; width: 100%;">
                                                        <input id="upload" type="file" name="file" onchange="readURLAvatar(this);"
                                                               class="form-control border-0" accept="image/*" hidden>
                                                        <label id="upload-label" for="upload" class="font-weight-light text-muted"></label>
                                                        <div class="input-group-append w-100">
                                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4 d-flex align-items-center justify-content-center w-100">
                                                                <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                                <small class="text-uppercase font-weight-bold text-muted mb-0">
                                                                    Chọn file
                                                                </small>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="image-area mt-4">
                                                        <img id="avatarPreview" th:src="${customer.avatar}"
                                                             class="img-fluid rounded shadow-sm"
                                                             style="width: 120px; height: 120px; object-fit: cover; display: block; margin: 0 auto;">
                                                    </div>
                                                    <div th:if="${fileError}" class="text-danger mt-2">
                                                        <p th:text="${fileError}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: right; margin-top: 20px">
                                        <a class="btn btn-primary mr-2" href="/customer-management">Hủy</a>
                                        <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function readURLAvatar(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('avatarPreview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        document.getElementById('upload').addEventListener('change', function () {
            readURLAvatar(this);
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tokenApiGHN = '7d67a984-b5fe-11ef-b166-4205c1d15e61';
        const urlProvince = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
        const urlDistricts = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
        const urlWard = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';

        function fetchAllProvinces() {
            axios.get(urlProvince, { headers: { token: tokenApiGHN } })
                .then(response => {
                    const selectElement = document.getElementById('provinceSelect');
                    selectElement.innerHTML = '<option value="">Chọn tỉnh</option>';
                    response.data.data.forEach(province => {
                        const option = new Option(province.ProvinceName, province.ProvinceID);
                        selectElement.add(option);
                    });

                    // Nếu có dữ liệu sẵn, chọn lại tỉnh
                    const selectedProvince = selectElement.getAttribute("data-value");
                    if (selectedProvince) {
                        selectElement.value = selectedProvince;
                        fetchDistricts(selectedProvince);
                    }
                })
                .catch(error => console.error('Lỗi lấy tỉnh:', error));
        }

        function fetchDistricts(provinceId) {
            axios.get(urlDistricts, { params: { province_id: provinceId }, headers: { token: tokenApiGHN } })
                .then(response => {
                    const districtSelect = document.getElementById('districtSelect');
                    districtSelect.innerHTML = '<option value="">Chọn huyện</option>';
                    response.data.data.forEach(district => {
                        const option = new Option(district.DistrictName, district.DistrictID);
                        districtSelect.add(option);
                    });

                    // Nếu có dữ liệu sẵn, chọn lại huyện
                    const selectedDistrict = districtSelect.getAttribute("data-value");
                    if (selectedDistrict) {
                        districtSelect.value = selectedDistrict;
                        fetchWards(selectedDistrict);
                    }
                })
                .catch(error => console.log("Lỗi lấy huyện:", error));
        }

        function fetchWards(districtId) {
            axios.get(urlWard, { params: { district_id: districtId }, headers: { token: tokenApiGHN } })
                .then(response => {
                    const wardSelect = document.getElementById('wardSelect');
                    wardSelect.innerHTML = '<option value="">Chọn xã</option>';
                    response.data.data.forEach(ward => {
                        const option = new Option(ward.WardName, ward.WardCode);
                        wardSelect.add(option);
                    });

                    // Nếu có dữ liệu sẵn, chọn lại xã
                    const selectedWard = wardSelect.getAttribute("data-value");
                    if (selectedWard) {
                        wardSelect.value = selectedWard;
                    }
                })
                .catch(error => console.log("Lỗi lấy xã:", error));
        }

        // Cập nhật khi chọn tỉnh
        document.getElementById('provinceSelect').addEventListener('change', function () {
            const provinceId = this.value;
            document.getElementById('provinceName').value = this.options[this.selectedIndex].text;
            document.getElementById('districtSelect').innerHTML = '<option value="">Chọn huyện</option>';
            document.getElementById('wardSelect').innerHTML = '<option value="">Chọn xã</option>';
            if (provinceId) fetchDistricts(provinceId);
        });

        // Cập nhật khi chọn huyện
        document.getElementById('districtSelect').addEventListener('change', function () {
            const districtId = this.value;
            document.getElementById('districtName').value = this.options[this.selectedIndex].text;
            document.getElementById('wardSelect').innerHTML = '<option value="">Chọn xã</option>';
            if (districtId) fetchWards(districtId);
        });

        // Cập nhật khi chọn xã
        document.getElementById('wardSelect').addEventListener('change', function () {
            document.getElementById('wardName').value = this.options[this.selectedIndex].text;
        });

        fetchAllProvinces();
    });
</script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</th:block>
</body>
</html>