<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	  th:fragment="appLayoutFragment(cssResources, jsResources, pageContent)">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="flash-message" th:content="${message}">
	<meta name="flash-type" th:content="${type}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:title" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	<title>Juyde Bellingham </title>
	<!-- Favicon icon -->
	<link rel="stylesheet" th:href="@{/assets/vendor/pickadate/themes/default.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/pickadate/themes/default.date.css}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/821ce224e9e4d4240f55e7b4641edd68.jpg}">
	<link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist.min.css}">
	<link th:href="@{/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/owl-carousel/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
		  crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all"
		  rel="stylesheet" type="text/css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/css/bootstrap5-toggle.min.css" rel="stylesheet">
	<th:block th:replace="${cssResources} ?: ~{}"></th:block>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
	<div class="sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
</div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

	<!--**********************************
        Nav header start
    ***********************************-->
	<th:block th:replace="~{views/fragments/nav_header::navHeaderFragment}"></th:block>
	<!--**********************************
        Nav header end
    ***********************************-->

	<!--**********************************
            Chat box start
        ***********************************-->
	<th:block th:replace="~{views/fragments/chatbox::chatboxFragment}"></th:block>
	<!--**********************************
            Chat box End
        ***********************************-->

	<!--**********************************
            Header start
        ***********************************-->
	<th:block th:replace="~{views/fragments/header::headerFragment}"></th:block>
	<!--**********************************
        Header end ti-comment-alt
    ***********************************-->

	<!--**********************************
        Sidebar start
    ***********************************-->
	<th:block th:replace="~{views/fragments/side_bar::sidebarFragment}"></th:block>
	<!--**********************************
        Sidebar end
    ***********************************-->

	<!--**********************************
            Content body start
        ***********************************-->

	<div class="content-body">
		<div class="container-fluid">
			<!-- Add Project -->
			<!-- row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Khách hàng Chi Tiết</h4>
							<div>
								<a href="/dashboard/customer" class="btn btn-primary mr-2">Quay lại</a>
								<!--<button type="submit" class="btn btn-primary">Lưu</button>-->
							</div>
						</div>
						<div class="card-body">
							<div class="form-validation">
								<form class="form-valide" method="post">
									<div class="row">
										<div class="col-xl-6">
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">ID khách hàng</label>
												<div class="col-lg-6">
													<input th:value="${customer.id}" type="text" readonly=""  class="form-control"placeholder="Enter a username..">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Họ và tên</label>
												<div class="col-lg-6">
													<input th:value="${customer.fullName}" type="text" readonly=""  class="form-control" id="val-username" name="val-username" placeholder="Enter a username..">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-email">Email
												</label>
												<div class="col-lg-6">
													<input th:value="${customer.email}" type="text" readonly="" class="form-control" id="val-email" name="val-email" placeholder="Your valid email..">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-sodienthoai">Số điện thoại
												</label>
												<div class="col-lg-6">
													<input th:value="${customer.phoneNumber}" type="text" readonly="" class="form-control" id="val-sodienthoai" name="val-sodienthoai" placeholder="Your valid phone number..">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-sodienthoai">Ngày sinh
												</label>
												<div class="col-lg-6">
													<input th:value="${#dates.format(customer.dateOfBirth, 'dd/MM/yyyy')}" type="text" readonly="" class="form-control" id="val-sodienthoai" name="val-sodienthoai" placeholder="Your valid date of birth..">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" >Giới tính
												</label>
												<div class="col-lg-6">
													<div class="mt-2">
														<label class="radio-inline mr-3">
															<input type="radio" name="gender"  value="true" th:checked="${customer.gender == true}" onclick="return false;"> Nam
														</label>
														<label class="radio-inline mr-3">
															<input type="radio" name="gender" value="false" th:checked="${customer.gender == false}" onclick="return false;"> Nữ
														</label>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-role">Vai trò</label>
												<div class="col-lg-6">
													<select class="form-control" id="val-role" name="roles" th:field="*{customer.roles}" disabled>
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserRole).ROLE_ADMIN}">Quản trị viên</option>
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserRole).ROLE_USER}">Nhân viên</option>
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserRole).ROLE_CUSTOMER}">Khách hàng</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-xl-6">
<!--											<div class="form-group row">-->
<!--												<label class="col-lg-4 col-form-label" >Tỉnh/Thành Phố-->
<!--												</label>-->
<!--												<div class="col-lg-6">-->
<!--													<input th:value="${defaultAddress.province}" type="text" readonly="" class="form-control" placeholder="Your valid phone number..">-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="form-group row">-->
<!--												<label class="col-lg-4 col-form-label" >Quận/Huyện-->
<!--												</label>-->
<!--												<div class="col-lg-6">-->
<!--													<input th:value="${defaultAddress.district}" type="text" readonly="" class="form-control" placeholder="Your valid phone number..">-->
<!--												</div>-->
<!--											</div><div class="form-group row">-->
<!--											<label class="col-lg-4 col-form-label" >Xã/Phường-->
<!--											</label>-->
<!--											<div class="col-lg-6">-->
<!--												<input th:value="${defaultAddress.ward}" type="text" readonly="" class="form-control" placeholder="Your valid phone number..">-->
<!--												</div>-->
<!--											</div>-->
											<!--Tỉnh/Thành phố-->
											<div class="form-group row">
												<label class="col-lg-4 col-form-label">Tỉnh/Thành Phố</label>
												<div class="col-lg-6">
													<select class="form-control" id="provinceSelect" th:data-province="${defaultAddress?.provinceId}" disabled >
														<option value="">Chọn</option>
													</select>
												</div>
											</div>

											<!-- Quận/Huyện -->
											<div class="form-group row">
												<label class="col-lg-4 col-form-label">Quận/Huyện</label>
												<div class="col-lg-6">
													<select class="form-control" id="districtSelect" th:data-district="${defaultAddress?.toDistrictId}" disabled>
														<option value="">Chọn</option>
													</select>
												</div>
											</div>

											<!-- Xã/Phường -->
											<div class="form-group row">
												<label class="col-lg-4 col-form-label">Xã/Phường</label>
												<div class="col-lg-6">
													<select class="form-control" id="wardSelect" th:data-ward="${defaultAddress?.wardCode}" disabled>
														<option value="">Chọn</option>
													</select>
												</div>
											</div>

											<!-- Địa chỉ cụ thể-->
											<div class="form-group row">
												<label class="col-lg-4 col-form-label">Số nhà/Ngõ/Đường</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" readonly="" name="line" th:value="${defaultAddress?.line}" placeholder="Nhập địa chỉ cụ thể...">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-status">Trạng thái</label>
												<div class="col-lg-6">
													<select class="form-control" id="val-status" name="status" th:field="*{customer.status}" >
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).ACTIVATED}" >Kích hoạt</option>
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).NOT_ACTIVATED}" >Ngừng kích hoạt</option>
														<option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).DELETED}" >Đã nghỉ việc</option>
													</select>
												</div>
											</div>
											<!-- Avatar Section -->
											<div class="form-group row">
												<label class="col-lg-4 col-form-label">Ảnh đại diện</label>
												<div class="col-lg-6 d-flex align-items-center position-relative">
													<!-- Avatar -->
													<div class="avatar-container position-relative" style="display: inline-block; position: relative;">
														<img id="avatarPreview"
															 th:src="@{'/assets/images/avatar/' + ${customer.avatar}}"
															 class="img-thumbnail"
															 alt="Avatar"
															 width="120" height="120"
															 style="border: 1px solid #ffffff; border-radius: 10px; object-fit: cover;">

														<!-- Nút Xem trước -->
														<div style="position: absolute; bottom: 5px; right: 5px; display: flex; gap: 5px;">
															<!-- Nút Xem trước (mờ, đặt trong ảnh) -->
															<button type="button" data-toggle="modal"  title="Xem ảnh" data-target="#previewModal"
																	style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;
                        											border-radius: 50%; background-color: rgba(0, 0, 0, 0.5); color: white; border: none;">
																<i class="fas fa-eye"></i>
															</button>
														</div>
														<!-- Modal -->
														<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
															<div class="modal-dialog" role="document">
																<div class="modal-content text-center" style=" width: 420px; height: auto;" >
																	<div class="modal-header">
																		<!-- Hiển thị tên ảnh -->
																		<p class="modal-title" id="imageName" th:text="${customer.avatar}"></p>

																		<!-- Nút đóng -->
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<div class="modal-body text-center">
																		<!-- Hiển thị ảnh với chiều rộng 80% modal -->
																		<img id="modalPreviewImage" src="" class="img-fluid" style="width: 100%; height: auto;">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--	</th:block>-->

	<!--**********************************
        Content body end
    ***********************************-->

	<!--**********************************
        Footer start
    ***********************************-->
	<th:block th:replace="~{views/fragments/footer::footerFragment}"></th:block>
	<!--**********************************
        Footer end
    ***********************************-->


	<!--**********************************
           Support ticket button start
        ***********************************-->

	<!--**********************************
       Support ticket button end
    ***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script data-cfasync="false"
		th:src="@{../assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
<script th:src="@{/assets/vendor/global/global.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.bundle.min.js}"></script>

<!-- Chart piety plugin files -->
<script th:src="@{/assets/vendor/peity/jquery.peity.min.js}"></script>

<!-- Apex Chart -->
<script th:src="@{/assets/vendor/apexchart/apexchart.js}"></script>

<!-- Dashboard 1 -->
<script th:src="@{/assets/vendor/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/assets/js/custom.min.js}"></script>
<script th:src="@{/assets/js/deznav-init.js}"></script>
<script th:src="@{/assets/js/demo.js}"></script>
<script th:src="@{/assets/js/styleSwitcher.js}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/js/bootstrap5-toggle.ecmas.min.js"></script>
<script th:inline="javascript" th:src="@{/assets/js/global.js}"></script>
<th:block th:replace="${jsResources} ?: ~{}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const tokenApiGHN = '7d67a984-b5fe-11ef-b166-4205c1d15e61';
		const urlProvince = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
		const urlDistricts = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
		const urlWard = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';

		// Lấy giá trị từ Thymeleaf
		const selectedProvince = document.getElementById('provinceSelect').getAttribute("data-province");
		const selectedDistrict = document.getElementById('districtSelect').getAttribute("data-district");
		const selectedWard = document.getElementById('wardSelect').getAttribute("data-ward");

		console.log("Province ID từ Thymeleaf:", selectedProvince);
		console.log("District ID từ Thymeleaf:", selectedDistrict);
		console.log("Ward Code từ Thymeleaf:", selectedWard);

		// Hàm fetch danh sách tỉnh/thành phố
		function fetchAllProvince() {
			axios.get(urlProvince, { headers: { token: tokenApiGHN } })
					.then(response => {
						console.log("📌 API GHN - Provinces:", response.data); // ✅ Kiểm tra dữ liệu API
						const selectElement = document.getElementById('provinceSelect');
						selectElement.innerHTML = '<option value="">Chọn tỉnh</option>';

						response.data.data.forEach(province => {
							console.log(`🔹 Province: ${province.ProvinceName} - ID: ${province.ProvinceID}`); // ✅ Kiểm tra từng tỉnh
							const option = new Option(province.ProvinceName, province.ProvinceID);
							selectElement.add(option);

							if (province.ProvinceID == selectedProvince) {
								option.selected = true;
								console.log(`✅ Province Selected: ${province.ProvinceName}`);
								fetchProvinceDistricts(province.ProvinceID, true);
							}
						});
					})
					.catch(error => console.error('❌ Lỗi khi lấy danh sách tỉnh:', error));
		}


		// Hàm fetch danh sách quận/huyện dựa vào tỉnh đã chọn
		function fetchProvinceDistricts(provinceId, isAutoLoad = false) {
			axios.get(urlDistricts, {
				params: { province_id: provinceId },
				headers: { token: tokenApiGHN }
			})
					.then(response => {
						const districtSelect = document.getElementById('districtSelect');
						districtSelect.innerHTML = '<option value="">Chọn huyện</option>';
						response.data.data.forEach(district => {
							const option = new Option(district.DistrictName, district.DistrictID);
							districtSelect.add(option);
							if (isAutoLoad && district.DistrictID == selectedDistrict) {
								option.selected = true;
								fetchProvinceWard(district.DistrictID, true);
							}
						});
					})
					.catch(error => console.error("Lỗi khi lấy danh sách huyện:", error));
		}

		// Hàm fetch danh sách xã/phường dựa vào huyện đã chọn
		function fetchProvinceWard(districtId, isAutoLoad = false) {
			axios.get(urlWard, {
				params: { district_id: districtId },
				headers: { token: tokenApiGHN }
			})
					.then(response => {
						const wardSelect = document.getElementById('wardSelect');
						wardSelect.innerHTML = '<option value="">Chọn xã</option>';
						response.data.data.forEach(ward => {
							const option = new Option(ward.WardName, ward.WardCode);
							wardSelect.add(option);
							if (isAutoLoad && ward.WardCode == selectedWard) {
								option.selected = true;
							}
						});
					})
					.catch(error => console.error("Lỗi khi lấy danh sách xã:", error));
		}

		// Gọi API để load tỉnh/thành phố khi trang load
		fetchAllProvince();
	});
</script>
<script>
	// Khi mở modal, cập nhật ảnh & tên file
	document.addEventListener("DOMContentLoaded", function () {
		document.querySelector("[data-target='#previewModal']").addEventListener("click", function () {
			let imgElement = document.getElementById("avatarPreview");
			let imgSrc = imgElement.src;
			let imgName = imgSrc.substring(imgSrc.lastIndexOf("/") + 1); // Lấy tên file từ URL

			document.getElementById("modalPreviewImage").src = imgSrc;
			document.getElementById("imageName").textContent = imgName; // Cập nhật tên ảnh
		});
	});
</script>
</body>
</html>