<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block id="th-css">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="card">
        
        <div class="card-header d-sm-flex d-block">
          <div class="mr-auto mb-sm-0 mb-3">
            <h4 class="card-title font-w600 mb-2">Quản lý màu sắc</h4>
          </div>
          <button type="button" data-toggle="modal" data-target="#createColorModal"
                  class="btn btn-secondary ml-auto">+
            Thêm mới
          </button>
        </div>
        
        <!--Data table start-->
        <div class="card-body">
          <div class="table-responsive">
            
            <!--Table start-->
            <table class="table style-1">
              <thead>
              <tr>
                <th>#</th>
                <th>Màu sắc</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Ngày thay đổi</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:if="${#lists.isEmpty(colors)}">
                <td colspan="5" class="text-center"><h3>KHÔNG TÌM THẤY DỮ LIỆU</h3></td>
              </tr>
              <tr th:each="color, index : ${colors}">
                <td th:text="${index.index+1}"></td>
                <td class="pr-0" th:text="${color.name}"></td>
                <td>
                  <span th:if="${color.status == false}"
                        class="badge badge-danger">Không hoạt động</span>
                  <span th:if="${color.status == true}"
                        class="badge badge-success">Hoạt động</span>
                </td>
                <td th:text="${#temporals.format(color.createdOn, 'dd-MM-yyyy')}">Create Date</td>
                <td th:text="${#temporals.format(color.updatedOn, 'dd-MM-yyyy')}">Modify Date</td>
                <td>
                  <div class="d-flex action-button">
                    <button type="button" class="btn btn-info btn-xs light px-2"
                            data-toggle="modal"
                            data-target="#editColorModal"
                            th:data-id="${color.id}"
                            th:data-name="${color.name}"
                            th:data-status="${color.status}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                    <a href="#" class="ml-2 btn btn-xs px-2 light btn-danger"
                       data-toggle="modal"
                       data-target="#deleteColorModal"
                       th:data-id="${color.id}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 6H5H21" stroke="#fff" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path
                            d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--Table end-->
            
            <!--Navigation start-->
            <div th:unless="${#lists.isEmpty(colors)}" class="d-flex justify-content-end flex-wrap">
              <nav>
                <ul class="pagination pagination-gutter">
                  <li class="page-item page-indicator"
                      th:classappend="${colorPage.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/color(page=${colorPage.number}, size=${colorPage.size}, name=${searchName}, status=${searchStatus})}">
                      <i class="la la-angle-left"></i></a>
                  </li>
                  <li class="page-item" th:each="i : ${#numbers.sequence(1, colorPage.totalPages)}"
                      th:classappend="${colorPage.number + 1 == i} ? 'active'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/color(page=${i}, size=${colorPage.size}, name=${searchName}, status=${searchStatus})}"
                       th:text="${i}">
                    </a>
                  </li>
                  <li class="page-item page-indicator"
                      th:classappend="${colorPage.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/color(page=${colorPage.number + 2}, size=${colorPage.size}, name=${searchName}, status=${searchStatus})}">
                      <i class="la la-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
            <!--Navigation end-->
          
          </div>
        </div>
        <!--Data table end-->
        
        <!--Create color modal start-->
        <div class="modal fade bd-example-modal-lg" id="createColorModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thêm màu sắc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div class="row page-titles mx-0">
                      <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                          <h4>Chào mừng quay lại!</h4>
                          <p class="mb-0">Danh mục</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
                              <form th:action="@{/dashboard/product-management/color}"
                                    method="POST"
                                    th:object="${colorModel}">
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="colorName">
                                        Tên màu sắc
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="colorName" name="name"
                                               placeholder="Nhập tên">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="colorStatus">
                                        Trạng thái
                                        <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-8">
                                        <select class="form-control default-select"
                                                id="colorStatus" name="status">
                                          <option th:value="true">Hoạt động</option>
                                          <option th:value="false">Không hoạt động</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger light"
                                          data-dismiss="modal">Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Save
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Create color modal end-->
        
        <!--Edit color modal start-->
        <div class="modal fade bd-example-modal-lg" id="editColorModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Sửa màu sắc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div class="row page-titles mx-0">
                      <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                          <h4>Chào mừng quay lại!</h4>
                          <p class="mb-0">Danh mục</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
                              <form th:action="@{/dashboard/product-management/color/update}"
                                    method="POST"
                                    th:object="${editColorModel}">
                                <input type="hidden" id="colorIdEdit" th:field="*{id}"/>
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="colorNameEdit">
                                        Tên màu sắc
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="colorNameEdit" name="name"
                                               placeholder="Nhập tên">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="colorStatusEdit">Trạng thái
                                        <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-8">
                                        <select class="form-control default-select"
                                                id="colorStatusEdit" th:field="*{status}">
                                          <option th:value="true">Hoạt động</option>
                                          <option th:value="false">Không hoạt động</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger light"
                                          data-dismiss="modal">Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Save changes
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Edit color modal end-->
        
        <!-- Delete color modal start -->
        <div class="modal fade" id="deleteColorModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmDeleteModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn chắc là muốn xóa màu sắc này chứ ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteTransactionForm" method="post" action="">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete color modal end -->
      
      </div>
    </div>
  </div>
</th:block>
<th:block id="th-js">
  <script>
    $(document).on('click', '[data-target="#editColorModal"]', function () {
      const button = $(this);
      
      // Fetch values from data attributes
      const id = button.data('id');
      const name = button.data('name');
      const status = button.data('status');
      
      console.log("status :", status);
      
      // Populate the modal form fields
      $('#colorIdEdit').val(id);
      $('#colorNameEdit').val(name);
      $('#colorStatusEdit').val(String(status)).trigger('change')
    });
    
    $('#editColorModal').on('hidden.bs.modal', function () {
      $(this).find('form')[0].reset();
    });
    
    $(document).on('click', '[data-target="#deleteColorModal"]', function () {
      const colorId = $(this).data('id');
      const formAction = `/dashboard/product-management/color/delete/${colorId}`;
      $('#deleteTransactionForm').attr('action', formAction);
    });
  </script>
</th:block>
</body>
</html>