<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Category Modal</title>
</head>
<body>
<th:block th:fragment="categoryCreateModal">
  <button type="button" data-toggle="modal" data-target="#createCategoryModal"
          class="btn btn-secondary">+
    Add Category
  </button>
  
  <div class="modal fade bd-example-modal-lg" id="createCategoryModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div>
              <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                  <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Category</p>
                  </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Category</a>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Form Validation</h4>
                    </div>
                    <div class="card-body">
                      <div class="form-validation">
                        <form th:action="@{/dashboard/product-management/category}"
                              method="POST"
                              th:object="${categoryModel}">
                          <div class="row">
                            <div class="col-xl-12">
                              <div class="form-group row">
                                <label class="col-lg-4 col-form-label"
                                       for="categoryName">
                                  Category Name
                                </label>
                                <div class="col-lg-8">
                                  <input type="text" class="form-control"
                                         id="categoryName" name="name"
                                         placeholder="Enter name">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-lg-4 col-form-label"
                                       for="categoryStatus">Status
                                  <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                  <select class="form-control default-select"
                                          id="categoryStatus" name="status">
                                    <option th:value="true">Active</option>
                                    <option th:value="false">Inactive</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger light"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Save changes
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>