<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:fragment="appLayoutFragment(cssResources, jsResources, pageContent)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO & Meta Data -->
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="flash-message" th:content="${message}">
    <meta name="flash-type" th:content="${type}">
    <meta name="description" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:title" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:description" content="Zenix - Crypto Admin Dashboard">
    <meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- Title -->
    <title>Jude Bellingham</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.jpg}">

    <!-- jQuery (load first) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/pickadate/themes/default.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/pickadate/themes/default.date.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/css/bootstrap5-toggle.min.css" rel="stylesheet">

    <!-- Dynamic CSS -->
    <th:block th:replace="${cssResources} ?: ~{}"></th:block>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<div id="main-wrapper">
    <th:block th:replace="~{views/fragments/nav_header::navHeaderFragment}"></th:block>
    <th:block th:replace="~{views/fragments/chatbox::chatboxFragment}"></th:block>
    <th:block th:replace="~{views/fragments/header::headerFragment}"></th:block>
    <th:block th:replace="~{views/fragments/side_bar::sidebarFragment}"></th:block>

    <div class="content-body">
        <div class="container-fluid">
            <!-- Add Project -->
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thêm Nhân Viên</h4>
                            <div>
                                <a class="btn btn-primary mr-2" href="/dashboard/employee">Hủy</a>
                                <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide"
                                      method="post"
                                      th:action="@{/dashboard/employee/add}"
                                      th:object="${employee}"
                                      enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="fullName">Họ và tên</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}" placeholder="Nhập họ và tên...">
                                                    <p th:if="${#fields.hasErrors('fullName')}" th:errorclass="text-danger" th:errors="*{fullName}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="email">Email</label>
                                                <div class="col-lg-6">
                                                    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Nhập email...">
                                                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="phoneNumber">Số điện thoại</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Nhập số điện thoại...">
                                                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="text-danger" th:errors="*{phoneNumber}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="dateOfBirth">Ngày sinh</label>
                                                <div class="col-lg-6">
                                                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
                                                    <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errorclass="text-danger" th:errors="*{dateOfBirth}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="citizenIdentity">Căn cước công dân</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="citizenIdentity" th:field="*{citizenIdentity}" placeholder="Nhập CCCD...">
                                                    <p th:if="${#fields.hasErrors('citizenIdentity')}" th:errorclass="text-danger" th:errors="*{citizenIdentity}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="citizenIdentity">Mật khẩu</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="citizenIdentity" th:field="*{password}" placeholder="Nhập mật khẩu...">
                                                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="*{password}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Giới tính</label>
                                                <div class="col-lg-6">
                                                    <div class="mt-2">
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{gender}" value="true"> Nam
                                                        </label>
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{gender}" value="false"> Nữ
                                                        </label>
                                                    </div>
                                                    <p th:if="${#fields.hasErrors('gender')}" th:errorclass="text-danger" th:errors="*{gender}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="roles">Vai trò</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="roles" th:field="*{roles}">
                                                        <option th:value="${T(org.fpoly.capstone.entity.enum_status.UserRole).ROLE_USER}">Nhân viên</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div th:object="${address}">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">Tỉnh/Thành Phố</label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="provinceSelect" th:field="*{provinceId}" name="provinceId">
                                                            <option value="">Chọn</option>
                                                        </select>
                                                        <input type="hidden" id="provinceName" th:field="*{province}" name="province">
                                                    </div>
                                                    <p th:if="${#fields.hasErrors('provinceId')}" th:errorclass="text-danger" th:errors="*{provinceId}"></p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">Quận/Huyện</label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="districtSelect" th:field="*{toDistrictId}" name="toDistrictId">
                                                            <option value="">Chọn</option>
                                                        </select>
                                                        <input type="hidden" id="districtName" th:field="*{district}" name="district">
                                                    </div>
                                                    <p th:if="${#fields.hasErrors('toDistrictId')}" th:errorclass="text-danger" th:errors="*{toDistrictId}"></p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">Xã/Phường</label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="wardSelect" th:field="*{wardCode}" name="wardCode">
                                                            <option value="">Chọn</option>
                                                        </select>
                                                        <input type="hidden" id="wardName" th:field="*{ward}" name="ward">
                                                    </div>
                                                    <p th:if="${#fields.hasErrors('wardCode')}" th:errorclass="text-danger" th:errors="*{wardCode}"></p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">Số nhà/Ngõ/Đường</label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" th:field="*{line}" name="line"
                                                               placeholder="Nhập địa chỉ cụ thể...">
                                                    </div>
                                                    <input type="hidden" id="line" th:field="*{line}" name="district">
                                                    <p th:if="${#fields.hasErrors('line')}" th:errorclass="text-danger" th:errors="*{line}"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Trạng thái</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" th:field="*{status}">
                                                        <option th:value="ACTIVATED">Kích hoạt</option>
<!--                                                        <option th:value="NOT_ACTIVATED">Ngừng kích hoạt</option>-->
<!--                                                        <option th:value="DELETED">Đã nghỉ việc</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Ảnh đại diện</label>
                                                <div class="col-lg-6 d-flex align-items-center">
                                                    <!-- Khung ảnh đại diện -->
                                                    <div class="avatar-container position-relative"
                                                         style="width: 120px; height: 120px; border: 1px solid #ddd; border-radius: 10px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                                        <img id="avatarPreview"
                                                             th:src="${employee.avatar != null ? '/assets/images/avatar/' + employee.avatar : ''}"
                                                             class="img-thumbnail"
                                                             alt="Avatar"
                                                             width="120" height="120"
                                                             style="object-fit: cover; display: none;"
                                                             th:style="${employee.avatar != null} ? 'display: block;' : 'display: none;'">
                                                    </div>

                                                    <!-- Nút hành động -->
                                                    <div class="ml-2 d-flex flex-column gap-2">
                                                        <!-- Nút Xem trước -->
                                                        <button title="Xem ảnh" type="button" id="viewAvatarBtn" class="btn btn-sm btn-dark"
                                                                data-toggle="modal" data-target="#previewModal" style="display: none;">
                                                            <svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                                                            </svg>
                                                        </button>

                                                        <!-- Nút Xóa ảnh -->
                                                        <button title="Xóa ảnh" type="button" id="deleteAvatarBtn" class="btn btn-sm btn-dark" style="display: none;"
                                                                onclick="deleteAvatar()">
                                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            </svg>
                                                        </button>

                                                        <!-- Nút Thêm ảnh -->
                                                        <button type="button" id="chooseAvatarBtn" class="btn btn-sm btn-outline-primary"
                                                                onclick="document.getElementById('avatarInput').click()">
                                                            ➕ Thêm ảnh
                                                        </button>
                                                    </div>

                                                    <!-- Input file (ẩn) -->
                                                    <input type="file" id="avatarInput" name="avatarFile" accept="image/*" hidden onchange="previewAvatar(this)">
                                                    <input type="hidden" id="avatarFileName" name="avatarFileName" value="">
                                                    <input type="hidden" id="deleteAvatarFlag" name="deleteAvatar" value="false">
                                                </div>
                                            </div>

                                            <!-- Modal xem ảnh -->
                                            <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content text-center" style="width: 420px;">
                                                        <div class="modal-header">
                                                            <p class="modal-title" id="imageName" th:text="${employee.avatar}"></p>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img id="modalPreviewImage" src="" class="img-fluid" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{views/fragments/footer::footerFragment}"></th:block>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tokenApiGHN = '7d67a984-b5fe-11ef-b166-4205c1d15e61';
        const urlProvince = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
        const urlDistricts = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
        const urlWard = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';

        function fetchAllProvince() {
            axios.get(urlProvince, { headers: { token: tokenApiGHN } })
                .then(response => {
                    const selectElement = document.getElementById('provinceSelect');
                    selectElement.innerHTML = '<option value="">Chọn tỉnh</option>';
                    response.data.data.forEach(province => {
                        const option = new Option(province.ProvinceName, province.ProvinceID);
                        selectElement.add(option);
                    });
                })
                .catch(error => console.error('Lỗi lấy tỉnh:', error));
        }

        function fetchProvinceDistricts(idProvince) {
            axios.get(urlDistricts, { params: { province_id: idProvince }, headers: { token: tokenApiGHN } })
                .then(response => {
                    const districtSelect = document.getElementById('districtSelect');
                    districtSelect.innerHTML = '<option value="">Chọn huyện</option>';
                    response.data.data.forEach(district => {
                        const option = new Option(district.DistrictName, district.DistrictID);
                        districtSelect.add(option);
                    });
                })
                .catch(error => console.log("Lỗi lấy huyện:", error));
        }

        function fetchProvinceWard(idDistrict) {
            axios.get(urlWard, { params: { district_id: idDistrict }, headers: { token: tokenApiGHN } })
                .then(response => {
                    const wardSelect = document.getElementById('wardSelect');
                    wardSelect.innerHTML = '<option value="">Chọn xã</option>';
                    response.data.data.forEach(ward => {
                        const option = new Option(ward.WardName, ward.WardCode);
                        wardSelect.add(option);
                    });
                })
                .catch(error => console.log("Lỗi lấy xã:", error));
        }

        document.getElementById('provinceSelect').addEventListener('change', function () {
            const provinceId = this.value;
            const provinceName = this.options[this.selectedIndex].text;
            document.getElementById('provinceName').value = provinceName;
            document.getElementById('districtSelect').innerHTML = '<option value="">Chọn huyện</option>';
            document.getElementById('wardSelect').innerHTML = '<option value="">Chọn xã</option>';
            if (provinceId) fetchProvinceDistricts(provinceId);
        });

        document.getElementById('districtSelect').addEventListener('change', function () {
            const districtId = this.value;
            const districtName = this.options[this.selectedIndex].text;
            document.getElementById('districtName').value = districtName;
            document.getElementById('wardSelect').innerHTML = '<option value="">Chọn xã</option>';
            if (districtId) fetchProvinceWard(districtId);
        });

        document.getElementById('wardSelect').addEventListener('change', function () {
            const wardName = this.options[this.selectedIndex].text;
            document.getElementById('wardName').value = wardName;
        });

        fetchAllProvince();
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const avatarPreview = document.getElementById("avatarPreview");
        const modalPreviewImage = document.getElementById("modalPreviewImage");
        const viewAvatarBtn = document.getElementById("viewAvatarBtn");
        const deleteAvatarBtn = document.getElementById("deleteAvatarBtn");
        const chooseAvatarBtn = document.getElementById("chooseAvatarBtn");
        const avatarInput = document.getElementById("avatarInput");
        const deleteAvatarFlag = document.getElementById("deleteAvatarFlag");
        const avatarFileName = document.getElementById("avatarFileName");

        // Ẩn/hiện nút tùy theo trạng thái ảnh
        function updateButtonVisibility() {
            const hasImage = avatarPreview.src && avatarPreview.src !== window.location.href;
            avatarPreview.style.display = hasImage ? "block" : "none";
            viewAvatarBtn.style.display = hasImage ? "inline-block" : "none";
            deleteAvatarBtn.style.display = hasImage ? "inline-block" : "none";
            chooseAvatarBtn.style.display = hasImage ? "none" : "inline-block";
        }
        updateButtonVisibility();

        // Xem ảnh trong modal
        viewAvatarBtn.addEventListener("click", function () {
            modalPreviewImage.src = avatarPreview.src;
            document.getElementById("imageName").textContent = avatarFileName.value || avatarPreview.src.split("/").pop();
        });

        // Xóa ảnh
        deleteAvatarBtn.addEventListener("click", function () {
            avatarPreview.src = "";
            avatarFileName.value = "";
            deleteAvatarFlag.value = "true";
            updateButtonVisibility();
        });

        // Xem trước ảnh khi chọn file
        avatarInput.addEventListener("change", function () {
            const file = avatarInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    avatarPreview.src = e.target.result;
                    avatarFileName.value = file.name; // Giữ nguyên tên file
                    deleteAvatarFlag.value = "false";
                    updateButtonVisibility();
                };
                reader.readAsDataURL(file);
            }
        });

        // Mở modal xem ảnh
        document.querySelector("[data-target='#previewModal']").addEventListener("click", function () {
            modalPreviewImage.src = avatarPreview.src;
            document.getElementById("imageName").textContent = avatarFileName.value || avatarPreview.src.split("/").pop();
        });
    });
</script>


<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        const avatarPreview = document.getElementById("avatarPreview");-->
<!--        const modalPreviewImage = document.getElementById("modalPreviewImage");-->
<!--        const viewAvatarBtn = document.getElementById("viewAvatarBtn");-->
<!--        const deleteAvatarBtn = document.getElementById("deleteAvatarBtn");-->
<!--        const chooseAvatarBtn = document.getElementById("chooseAvatarBtn");-->
<!--        const avatarInput = document.getElementById("avatarInput");-->
<!--        const deleteAvatarFlag = document.getElementById("deleteAvatarFlag");-->

<!--        // Xem ảnh trong modal-->
<!--        viewAvatarBtn?.addEventListener("click", function () {-->
<!--            modalPreviewImage.src = avatarPreview.src;-->
<!--            document.getElementById("imageName").textContent = avatarPreview.src.split("/").pop();-->
<!--        });-->

<!--        // Xóa ảnh-->
<!--        deleteAvatarBtn?.addEventListener("click", function () {-->
<!--            avatarPreview.src = "";-->
<!--            avatarPreview.style.display = "none";-->
<!--            viewAvatarBtn.style.display = "none";-->
<!--            deleteAvatarBtn.style.display = "none";-->
<!--            chooseAvatarBtn.style.display = "inline-block";-->
<!--            deleteAvatarFlag.value = "true";-->
<!--        });-->

<!--        // Xem trước ảnh khi chọn file-->
<!--        avatarInput?.addEventListener("change", function () {-->
<!--            const file = avatarInput.files[0];-->
<!--            if (file) {-->
<!--                const reader = new FileReader();-->
<!--                reader.onload = function (e) {-->
<!--                    avatarPreview.src = e.target.result;-->
<!--                    avatarPreview.style.display = "block";-->
<!--                    viewAvatarBtn.style.display = "inline-block";-->
<!--                    deleteAvatarBtn.style.display = "inline-block";-->
<!--                    chooseAvatarBtn.style.display = "none";-->
<!--                    deleteAvatarFlag.value = "false";-->
<!--                };-->
<!--                reader.readAsDataURL(file);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--<script>-->
<!--    // Khi mở modal, cập nhật ảnh & tên file-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        document.querySelector("[data-target='#previewModal']").addEventListener("click", function () {-->
<!--            let imgElement = document.getElementById("avatarPreview");-->
<!--            let imgSrc = imgElement.src;-->
<!--            let imgName = imgSrc.substring(imgSrc.lastIndexOf("/") + 1); // Lấy tên file từ URL-->

<!--            document.getElementById("modalPreviewImage").src = imgSrc;-->
<!--            document.getElementById("imageName").textContent = imgName; // Cập nhật tên ảnh-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    function previewAvatar(input) {-->
<!--        const file = input.files[0];-->
<!--        if (file) {-->
<!--            const reader = new FileReader();-->
<!--            reader.onload = function (e) {-->
<!--                document.getElementById("avatarPreview").src = e.target.result;-->
<!--                document.getElementById("modalAvatarPreview").src = e.target.result;-->
<!--                document.getElementById("avatarContainer").style.display = "inline-block";-->
<!--                document.getElementById("chooseAvatarBtn").style.display = "none"; // Ẩn nút chọn ảnh-->
<!--            };-->
<!--            reader.readAsDataURL(file);-->
<!--        }-->
<!--    }-->
<!--    document.getElementById("deleteAvatarBtn")?.addEventListener("click", function () {-->
<!--        document.getElementById("avatarContainer").style.display = "none"; // Ẩn ảnh-->
<!--        document.getElementById("chooseAvatarBtn").style.display = "inline-block"; // Hiện nút chọn ảnh-->
<!--        document.getElementById("deleteAvatarFlag").value = "true"; // Đánh dấu xóa ảnh-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    function previewAvatar(input) {-->
<!--        const file = input.files[0];-->
<!--        if (file) {-->
<!--            const reader = new FileReader();-->
<!--            reader.onload = function (e) {-->
<!--                document.getElementById("avatarPreview").src = e.target.result;-->
<!--                document.getElementById("modalAvatarPreview").src = e.target.result;-->
<!--                document.getElementById("avatarPreview").style.display = "block";-->
<!--                document.getElementById("viewAvatarBtn").style.display = "inline-block";-->
<!--                document.getElementById("deleteAvatarBtn").style.display = "inline-block";-->
<!--                document.getElementById("chooseAvatarBtn").style.display = "none";-->
<!--                document.getElementById("deleteAvatarFlag").value = "false";-->
<!--            };-->
<!--            reader.readAsDataURL(file);-->
<!--        }-->
<!--    }-->

<!--    document.getElementById("deleteAvatarBtn")?.addEventListener("click", function () {-->
<!--        document.getElementById("avatarPreview").src = "";-->
<!--        document.getElementById("avatarPreview").style.display = "none";-->
<!--        document.getElementById("viewAvatarBtn").style.display = "none";-->
<!--        document.getElementById("deleteAvatarBtn").style.display = "none";-->
<!--        document.getElementById("chooseAvatarBtn").style.display = "inline-block";-->
<!--        document.getElementById("deleteAvatarFlag").value = "true";-->
<!--    });-->
<!--</script>-->

<script>
    function submitEmployeeForm() {
        document.getElementById("employeeForm").submit();
    }
</script>

<!-- Required vendors -->
<script th:src="@{/assets/vendor/global/global.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/Chart.bundle.min.js}"></script>

<!-- Chart piety plugin files -->
<script th:src="@{/assets/vendor/peity/jquery.peity.min.js}"></script>

<!-- Apex Chart -->
<script th:src="@{/assets/vendor/apexchart/apexchart.js}"></script>

<!-- Dashboard scripts -->
<script th:src="@{/assets/vendor/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/assets/js/custom.min.js}"></script>
<script th:src="@{/assets/js/deznav-init.js}"></script>
<script th:src="@{/assets/js/demo.js}"></script>
<script th:src="@{/assets/js/styleSwitcher.js}"></script>

<!-- CKEditor -->
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>

<!-- File input -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>

<!-- Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Bootstrap toggle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/js/bootstrap5-toggle.ecmas.min.js"></script>

<!-- Custom JS -->
<script th:inline="javascript" th:src="@{/assets/js/global.js}"></script>

<!-- Dynamic JS -->
<th:block th:replace="${jsResources} ?: ~{}"></th:block>
</body>
</html>