<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Nhân Viên</title>
    <th:block id="th-css"></th:block>
</head>
<body>
<th:block id="th-body">
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Cập nhật Nhân Viên</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="needs-validation" method="post" th:action="@{/staff-management/update/{id}(id=${employee.id})}" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="fullName">Họ và tên</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="fullName" th:field="*{employee.fullName}" placeholder="Nhập họ và tên...">
                                                    <p class="error" th:if="${errors['fullName']}" th:text="${errors['fullName']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="email">Email</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" name="email" id="email" th:field="*{employee.email}" placeholder="Nhập email...">
                                                    <p class="error" th:if="${errors['email']}" th:text="${errors['email']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="phoneNumber">Số điện thoại</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="phoneNumber" th:field="*{employee.phoneNumber}" placeholder="Nhập số điện thoại...">
                                                    <p class="error" th:if="${errors['phoneNumber']}" th:text="${errors['phoneNumber']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="dateOfBirth">Ngày sinh</label>
                                                <div class="col-lg-6">
                                                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{employee.dateOfBirth}" >
                                                    <p class="error" th:if="${errors['dateOfBirth']}" th:text="${errors['dateOfBirth']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="citizenIdentity">Căn cước công dân</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="citizenIdentity" th:field="*{employee.citizenIdentity}" placeholder="Nhập CCCD...">
                                                    <p class="error" th:if="${errors['citizenIdentity']}" th:text="${errors['citizenIdentity']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Giới tính</label>
                                                <div class="col-lg-6">
                                                    <div class="mt-2">
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{employee.gender}" value="true"> Nam
                                                        </label>
                                                        <label class="radio-inline mr-3">
                                                            <input type="radio" th:field="*{employee.gender}" value="false"> Nữ
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <p class="error" th:if="${errors['gender']}" th:text="${errors['gender']}" th:classappend="text-danger"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="status">Trạng thái</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="status"  th:field="*{employee.status}">
                                                        <option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).ACTIVATED}">Kích hoạt</option>
                                                        <option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).NOT_ACTIVATED}">Ngừng kích hoạt</option>
                                                        <option th:value="${T(org.fpoly.capstone.entity.enum_status.UserStatus).DELETED}">Nghỉ việc</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Tỉnh/Thành Phố</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="provinceSelect" th:field="*{address.provinceId}"
                                                        th:attr="data-province=${address.provinceId}">
                                                        <option value="">Chọn Tỉnh / Thành Phố</option>
                                                    </select>
                                                    <input type="hidden" id="provinceName" th:field="*{address.province}">
                                                    <p class="error" th:if="${errorsAddress['provinceId']}" th:text="${errorsAddress['provinceId']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Quận/Huyện</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="districtSelect" th:field="*{address.toDistrictId}"
                                                            th:attr="data-district=${address.toDistrictId}">
                                                        <option value="">Chọn Quận / Huyện</option>
                                                    </select>
                                                    <input type="hidden" id="districtName" th:field="*{address.district}">
                                                    <p class="error" th:if="${errorsAddress['toDistrictId']}" th:text="${errorsAddress['toDistrictId']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Xã/Phường</label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="wardSelect" th:field="*{address.wardCode}"
                                                            th:attr="data-ward=${address.wardCode}">
                                                        <option value="">Chọn Phường / Xã</option>
                                                    </select>
                                                    <input type="hidden" id="wardName" th:field="*{address.ward}">
                                                    <p class="error" th:if="${errorsAddress['wardCode']}" th:text="${errorsAddress['wardCode']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Số nhà/Ngõ/Đường</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" th:field="*{address.line}" placeholder="Nhập địa chỉ cụ thể...">
                                                    <p class="error" th:if="${errorsAddress['line']}" th:text="${errorsAddress['line']}" th:classappend="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Ảnh đại diện</label>
                                                <div class="col-lg-6 d-flex flex-column align-items-center">
                                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm" style="max-width: 300px; width: 100%;">
                                                        <input id="upload" type="file" name="file" onchange="readURLAvatar(this);"
                                                               class="form-control border-0" accept="image/*" hidden>
                                                        <label id="upload-label" for="upload" class="font-weight-light text-muted"></label>
                                                        <div class="input-group-append w-100">
                                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4 d-flex align-items-center justify-content-center w-100">
                                                                <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                                <small class="text-uppercase font-weight-bold text-muted mb-0">
                                                                    Chọn ảnh
                                                                </small>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="image-area mt-4">
                                                        <img id="avatarPreview" th:src="${employee.avatar}"
                                                             class="img-fluid rounded shadow-sm"
                                                             style="width: 120px; height: 120px; object-fit: cover; display: block; margin: 0 auto;">
                                                    </div>
                                                    <div th:if="${fileError}" class="text-danger mt-2">
                                                        <p th:text="${fileError}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: right; margin-top: 20px">
                                        <a class="btn btn-primary mr-2" href="/staff-management">Hủy</a>
                                        <button type="submit" class="btn btn-primary">Cập nhật nhân viên</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function readURLAvatar(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('avatarPreview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        document.getElementById('upload').addEventListener('change', function () {
            readURLAvatar(this);
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tokenApiGHN = '7d67a984-b5fe-11ef-b166-4205c1d15e61';
        const urlProvince = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
        const urlDistricts = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
        const urlWard = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';

        // Lấy giá trị mặc định từ Thymeleaf
        const provinceSelect = document.getElementById('provinceSelect');
        const districtSelect = document.getElementById('districtSelect');
        const wardSelect = document.getElementById('wardSelect');

        const selectedProvince = provinceSelect?.getAttribute("data-province") || "";
        const selectedDistrict = districtSelect?.getAttribute("data-district") || "";
        const selectedWard = wardSelect?.getAttribute("data-ward") || "";

        // Fetch danh sách tỉnh/thành phố
        function fetchAllProvince() {
            axios.get(urlProvince, { headers: { token: tokenApiGHN } })
                .then(response => {
                    const selectElement = document.getElementById('provinceSelect');
                    selectElement.innerHTML = '<option value="">Chọn Tỉnh / Thành Phố</option>';
                    response.data.data.forEach(province => {
                        const option = new Option(province.ProvinceName, province.ProvinceID);
                        selectElement.add(option);
                        if (province.ProvinceID == selectedProvince) {
                            option.selected = true;
                            fetchProvinceDistricts(province.ProvinceID, true);
                            // Cập nhật provinceName khi trang load nếu có giá trị sẵn
                            document.getElementById('provinceName').value = province.ProvinceName;
                        }
                    });
                })
                .catch(error => console.error('Có lỗi xảy ra:', error));
        }


        // Fetch danh sách quận/huyện theo tỉnh
        function fetchProvinceDistricts(idProvince, isAutoLoad = false) {
            axios.get(urlDistricts, {
                params: { province_id: idProvince },
                headers: { token: tokenApiGHN }
            })
                .then(response => {
                    districtSelect.innerHTML = '<option value="">Chọn Quận / Huyện</option>';
                    response.data.data.forEach(district => {
                        const option = new Option(district.DistrictName, district.DistrictID);
                        districtSelect.add(option);
                        if (isAutoLoad && district.DistrictID == selectedDistrict) {
                            option.selected = true;
                            fetchProvinceWard(district.DistrictID, true);
                        }
                    });
                })
                .catch(error => console.log("Lỗi lấy danh sách huyện:", error));
        }

        // Fetch danh sách xã/phường theo huyện
        function fetchProvinceWard(idDistrict, isAutoLoad = false) {
            axios.get(urlWard, {
                params: { district_id: idDistrict },
                headers: { token: tokenApiGHN }
            })
                .then(response => {
                    wardSelect.innerHTML = '<option value="">Chọn Phường / Xã</option>';
                    response.data.data.forEach(ward => {
                        const option = new Option(ward.WardName, ward.WardCode);
                        wardSelect.add(option);
                        if (isAutoLoad && ward.WardCode == selectedWard) {
                            option.selected = true;
                        }
                    });
                })
                .catch(error => console.log("Lỗi lấy danh sách xã:", error));
        }

        // Khi trang tải xong, fetch danh sách tỉnh
        fetchAllProvince();

        // Khi chọn tỉnh, load danh sách huyện
        provinceSelect.addEventListener('change', function () {
            const provinceId = this.value;
            if (provinceId) {
                fetchProvinceDistricts(provinceId);
            } else {
                districtSelect.innerHTML = '<option value="">Chọn Quận / Huyện</option>';
                wardSelect.innerHTML = '<option value="">Chọn Phường / Xã</option>';
            }
            document.getElementById('provinceName').value = this.options[this.selectedIndex].text;
        });

        // Khi chọn huyện, load danh sách xã
        districtSelect.addEventListener('change', function () {
            const districtId = this.value;
            if (districtId) {
                fetchProvinceWard(districtId);
            } else {
                wardSelect.innerHTML = '<option value="">Chọn Phường / Xã</option>';
            }
            document.getElementById('districtName').value = this.options[this.selectedIndex].text;
        });

        // Khi chọn xã, cập nhật hidden input
        wardSelect.addEventListener('change', function () {
            document.getElementById('wardName').value = this.options[this.selectedIndex].text;
        });

        // Tự động chọn lại tỉnh, huyện, xã nếu có dữ liệu
        if (selectedProvince) provinceSelect.dispatchEvent(new Event('change'));
        if (selectedDistrict) districtSelect.dispatchEvent(new Event('change'));
    });

    // Cập nhật tên tỉnh/thành phố khi chọn
    document.getElementById('provinceSelect').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        document.getElementById('provinceName').value = selectedOption.text;
    });

    // Cập nhật tên quận/huyện khi chọn
    document.getElementById('districtSelect').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        document.getElementById('districtName').value = selectedOption.text;
    });

    // Cập nhật tên xã/phường khi chọn
    document.getElementById('wardSelect').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        document.getElementById('wardName').value = selectedOption.text;
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</th:block>
</body>
</html>