<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block id="th-css">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="card">
        
        <div class="card-header d-sm-flex d-block">
          <div class="mr-auto mb-sm-0 mb-3">
            <h4 class="card-title font-w600 mb-2">Quản lý chi tiết sản phẩm</h4>
          </div>
          <a type="button" th:href="@{/dashboard/product-management/product-detail/add}"
             class="btn btn-secondary ml-auto">+
            Thêm mới
          </a>
        </div>
        <!--Data table start-->
        <div class="card-body">
          <div class="table-responsive">
            
            <!--Table start-->
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Danh mục</th>
                <th>Chất liệu</th>
                <th>Màu sắc</th>
                <th>Size</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Trạng thái</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:if="${#lists.isEmpty(productDetails)}">
                <td colspan="10" class="text-center pt-5"><h3>KHÔNG TÌM THẤY DỮ LIỆU</h3></td>
              </tr>
              <tr th:each="productDetail, index : ${productDetails}">
                <td th:text="${index.index+1}"></td>
                <td>
                  <div class="media style-1">
                    <img th:src="${productDetail.featureImageUrl}" alt="Thumbnail" class="img-fluid mr-2">
                    <div class="media-body">
                      <h6>[[${productDetail.productName}]]</h6>
                      <span th:text="${productDetail.brandName}"></span>
                    </div>
                  </div>
                </td>
                <td th:text="${productDetail.categoryName}"></td>
                <td th:text="${productDetail.materialName}"></td>
                <td th:text="${productDetail.colorName}"></td>
                <td th:text="${productDetail.sizeName}"></td>
                <td th:text="${productDetail.quantity}"></td>
                <td th:text="${productDetail.price}"></td>
                <td>
                  <span
                      th:if="${productDetail.status == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).DANG_SU_DUNG}"
                      class="badge light badge-success" th:text="${productDetail.status}"></span>
                  <span
                      th:if="${productDetail.status == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).NGUNG_SU_DUNG}"
                      class="badge light badge-danger" th:text="${productDetail.status}"></span>
                  <span
                      th:if="${productDetail.status == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).HET_SAN_PHAM}"
                      class="badge light badge-secondary" th:text="${productDetail.status}"></span>
                </td>
                <td>
                  <div class="d-flex action-button">
                    <a type="button" class="btn btn-info btn-xs light px-2"
                       th:href="@{/dashboard/product-management/product-detail/update/{id}(id=${productDetail.id})}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </a>
                    <a href="#" class="ml-2 btn btn-xs px-2 light btn-danger"
                       data-toggle="modal"
                       data-target="#deleteProductModal"
                       th:data-id="${productDetail.id}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 6H5H21" stroke="#fff" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path
                            d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--Table end-->
            
            <!--Navigation start-->
            <div th:unless="${#lists.isEmpty(productDetails)}" class="d-flex justify-content-end flex-wrap">
              <nav>
                <ul class="pagination pagination-gutter">
                  <li class="page-item page-indicator"
                      th:classappend="${productDetailPage.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product-detail(page=${productDetailPage.number}, size=${productDetailPage.size}, categoryId=${request.categoryId}, status=${request.status})}">
                      <i class="la la-angle-left"></i></a>
                  </li>
                  <li class="page-item" th:each="i : ${#numbers.sequence(1, productDetailPage.totalPages)}"
                      th:classappend="${productDetailPage.number + 1 == i} ? 'active'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product-detail(page=${i}, size=${productDetailPage.size}, categoryId=${request.categoryId}, status=${request.status})}"
                       th:text="${i}">
                    </a>
                  </li>
                  <li class="page-item page-indicator"
                      th:classappend="${productDetailPage.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product-detail(page=${productDetailPage.number + 2}, size=${productDetailPage.size}, categoryId=${request.categoryId}, status=${request.status})}">
                      <i class="la la-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
            <!--Navigation end-->
          
          </div>
        </div>
        <!--Data table end-->
        
        <!--Edit product detail modal start-->
        <div class="modal fade bd-example-modal-lg" id="editProductDetailModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Sửa sản phẩm chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div class="row page-titles mx-0">
                      <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                          <h4>Chào mừng quay lại!</h4>
                          <p class="mb-0">Danh mục</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
                              <form class="form-update-product-detail"
                                    th:action="@{/dashboard/product-management/product-detail/update}"
                                    th:object="${editProductDetailModel}" method="post" enctype="multipart/form-data">
                                
                                <input type="hidden" th:field="*{id}"/>
                                <!--Thong tin san pham start-->
                                <div class="row">
                                  <div class="col-lg-3">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title">Thumbnail</h4>
                                      </div>
                                      <div class="card-body">
                                        <div class="basic-form">
                                          <div class="form-row">
                                            <div class="form-group col-md-12">
                                              <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                                <input id="upload" type="file"
                                                       name="featureImage"
                                                       onchange="readURL(this);"
                                                       class="form-control border-0">
                                                <label id="upload-label" for="upload"
                                                       class="font-weight-light text-muted">Choose file</label>
                                                <div class="input-group-append">
                                                  <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                                      class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                                      class="text-uppercase font-weight-bold text-muted">Choose
                                                    file</small></label>
                                                </div>
                                              </div>
                                              
                                              <!-- Uploaded image area-->
                                              <p class="font-italic text-grey text-center">The image uploaded will be
                                                rendered inside the box
                                                below.</p>
                                              <!-- Thumbnail -->
                                              <div class="image-area mt-4">
                                                <img id="imageResult"
                                                     src="#"
                                                     alt=""
                                                     class="img-fluid rounded shadow-sm mx-auto d-block">
                                              </div>
                                            
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <div class="col-lg-9">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title">Thông tin sản phẩm</h4>
                                      </div>
                                      <div class="card-body">
                                        <div class="basic-form">
                                          <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="productId">Sản phẩm <span class="text-danger">*</span>
                                              </label>
                                              <select id="productId" name="productId" class="form-control"
                                                      th:field="*{productId}"
                                                      required>
                                                <option value="" selected>Chọn sản phẩm</option>
                                                <option th:each="product : ${products}"
                                                        th:value="${product.id}"
                                                        th:text="${product.name}">
                                                </option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="brandId">Brand<span class="text-danger">*</span> </label>
                                              <select id="brandId" name="brandId" class="form-control"
                                                      th:field="*{brandId}"
                                                      required>
                                                <option value="" selected>Chọn brand</option>
                                                <option th:each="brand : ${brands}"
                                                        th:value="${brand.id}"
                                                        th:text="${brand.name}">
                                                </option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="materialId">Chất liệu<span class="text-danger">*</span>
                                              </label>
                                              <select id="materialId" name="materialId" class="form-control"
                                                      th:field="*{materialId}"
                                                      required>
                                                <option value="" selected>Chọn chất liệu</option>
                                                <option th:each="material : ${materials}"
                                                        th:value="${material.id}"
                                                        th:text="${material.name}">
                                                </option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="colorId">Màu sắc<span class="text-danger">*</span> </label>
                                              <select id="colorId" name="colorId" class="form-control"
                                                      th:field="*{colorId}"
                                                      required>
                                                <option value="" selected>Chọn màu sắc</option>
                                                <option th:each="color : ${colors}"
                                                        th:value="${color.id}"
                                                        th:text="${color.name}">
                                                </option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="sizeId">Size<span class="text-danger">*</span> </label>
                                              <select id="sizeId" name="sizeId" class="form-control"
                                                      th:field="*{sizeId}"
                                                      required>
                                                <option value="" selected>Chọn size</option>
                                                <option th:each="size : ${sizes}"
                                                        th:value="${size.id}"
                                                        th:text="${size.name}">
                                                </option>
                                              </select>
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                              <label for="gender">Size<span class="text-danger">*</span> </label>
                                              <select id="gender" name="gender" class="form-control"
                                                      th:field="*{gender}"
                                                      required>
                                                <option value="" selected>Chọn giới tính</option>
                                                <option
                                                    th:each="gender : ${T(org.fpoly.capstone.entity.enum_status.Gender).values()}"
                                                    th:value="${gender}" th:text="${gender}">
                                                </option>
                                              </select>
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                              <label>Status<span class="text-danger">*</span> </label>
                                              <select class="form-control"
                                                      id="status" name="status" th:field="*{status}">
                                                <option
                                                    th:each="statusOpt : ${T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).values()}"
                                                    th:value="${statusOpt}" th:text="${statusOpt}">
                                                </option>
                                              </select>
                                            
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                              <label for="quantity">Số lượng <span class="text-danger">*</span></label>
                                              <input id="quantity" type="number" th:field="*{quantity}" name="quantity"
                                                     class="form-control"
                                                     placeholder="" required>
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                              <label for="price">Giá tiền (VND) <span
                                                  class="text-danger">*</span></label>
                                              <input id="price" type="number" name="price" th:field="*{price}"
                                                     class="form-control"
                                                     placeholder="" required>
                                            </div>
                                            
                                            <div class="form-group col-md-12">
                                              <label for="description">Mô tả (tùy chọn)</label>
                                              <textarea id="description" name="description" rows="5"
                                                        class="form-control"
                                                        th:field="*{description}"
                                                        placeholder="Mô tả sản phẩm "> </textarea>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--Thong tin san pham end-->
                                
                                <!--Album san pham start-->
                                <div class="row mt-3">
                                  <div class="col-lg-12">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title">Album sản phẩm</h4>
                                      </div>
                                      <div class="card-body">
                                        <div class="basic-form">
                                          <div class="form-row">
                                            <div class="form-group col-md-12">
                                              <label for="productMediaGallery">Image gallery</label>
                                              <input id="productMediaGallery" name="images" type="file"
                                                     class="form-control" multiple
                                                     th:field="*{images}"
                                                     data-preview-file-type="text">
                                            </div>
                                          </div>
                                          <div class="d-flex justify-content-end">
                                            <button id="btn-update-product" class="btn btn-primary mt-3">Thêm mới
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--Album san pham end-->
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Edit product detail modal end-->
        
        <!-- Delete product modal start -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmDeleteModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn chắc là muốn xóa sản phẩm này chứ ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteTransactionForm" method="post" action="">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete product modal end -->
      
      </div>
    </div>
  </div>
</th:block>
<th:block id="th-js">
  <script>
    $(document).on('click', '[data-target="#editProductModal"]', function () {
      const button = $(this);
      
      // Fetch values from data attributes
      const id = button.data('id');
      const name = button.data('name');
      const code = button.data('code');
      const categoryId = button.data('categoryid');
      
      console.log("categoryid: " + categoryId);
      
      // Populate the modal form fields
      $('#productIdEdit').val(id);
      $('#productNameEdit').val(name);
      $('#productCodeEdit').val(code);
      $('#productCategoryEdit').val(String(categoryId)).trigger('change')
    });
    
    $('#editProductModal').on('hidden.bs.modal', function () {
      $(this).find('form')[0].reset();
    });
    
    $(document).on('click', '[data-target="#deleteProductModal"]', function () {
      const productDetailId = $(this).data('id');
      const formAction = `/dashboard/product-management/product-detail/delete/${productDetailId}`;
      $('#deleteTransactionForm').attr('action', formAction);
    });
    
    document.addEventListener('DOMContentLoaded', function () {
      window.clearForm = function () {
        const searchCategory = document.getElementById('searchCategoryId');
        const searchCode = document.getElementById('searchCode');
        const searchName = document.getElementById('searchName');
        const searchStatus = document.getElementById('searchStatus');
        
        // Đặt lại giá trị cho các trường
        searchCategory.value = ""; // Đặt giá trị của select về rỗng
        searchCode.value = "";
        searchName.value = "";
        searchStatus.value = "";  // Đặt giá trị của select về rỗng
        
        // Nếu vẫn không được, thử thêm đoạn này
        searchCategory.selectedIndex = 0;
        searchStatus.selectedIndex = 0;
      };
    });
  
  </script>
</th:block>
</body>
</html>