<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block id="th-css">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="form-head d-flex align-items-center flex-wrap mb-sm-5 mb-3">
        <h2 class="font-w600 mb-0 text-black">Quản lý danh mục</h2>
      </div>
      
      <!--Search form start-->
      <div class="col-xl-12 col-lg-12">
        <div class="card-body">
          <div class="basic-form">
            <form th:action="@{/dashboard/product-management/category}" method="GET">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Tìm theo tên</label>
                  <input id="name" type="text" name="name" th:value="${searchName}"
                         class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="status">Tìm theo trạng thái</label>
                  <select id="status" name="status" class="form-control default-select">
                    <option th:value="null" th:selected="${searchStatus == null}">Tất cả</option>
                    <option th:value="true" th:selected="${searchStatus == true}">Hoạt động</option>
                    <option th:value="false" th:selected="${searchStatus == false}">Không hoạt động</option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-end flex-wrap">
                <div>
                  <button type="submit" class="btn btn-primary ">Tìm kiếm</button>
                  <button type="button" data-toggle="modal" data-target="#createCategoryModal"
                          class="btn btn-secondary ml-auto">+
                    Thêm mới
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Search form end-->
    
    </div>
    
    <!--Data table start-->
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive table-hover fs-14">
          
          <!--Table start-->
          <table class="table display mb-4 dataTablesCard short-one card-table text-black" id="example5">
            <thead>
            <tr>
              <th>#</th>
              <th>Danh mục</th>
              <th>Trạng thái</th>
              <th>Ngày tạo</th>
              <th>Ngày thay đổi</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(categories)}">
              <td colspan="5" class="text-center"><h3>KHÔNG TÌM THẤY DỮ LIỆU</h3></td>
            </tr>
            <tr th:each="category, index : ${categories}">
              <td th:text="${index.index+1}"></td>
              <td class="pr-0" th:text="${category.name}"></td>
              <td>
                  <span th:if="${category.status == false}"
                        class="badge light badge-danger">Không hoạt động</span>
                <span th:if="${category.status == true}"
                      class="badge light badge-success">Hoạt động</span>
              </td>
              <td th:text="${#temporals.format(category.createdOn, 'dd-MM-yyyy')}">Create Date</td>
              <td th:text="${#temporals.format(category.updatedOn, 'dd-MM-yyyy')}">Modify Date</td>
              <td>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary shadow btn-xs sharp mr-1"
                          data-toggle="modal"
                          data-target="#editCategoryModal"
                          th:data-id="${category.id}"
                          th:data-name="${category.name}"
                          th:data-status="${category.status}">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <a href="#" class="btn btn-danger shadow btn-xs sharp"
                     data-toggle="modal"
                     data-target="#deleteCategoryModal"
                     th:data-id="${category.id}">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <!--Table end-->
          
          <!--Navigation start-->
          <div th:unless="${#lists.isEmpty(categories)}" class="d-flex justify-content-end flex-wrap">
            <nav>
              <ul class="pagination pagination-gutter">
                <li class="page-item page-indicator"
                    th:classappend="${categoryPage.hasPrevious()} ? '' : 'disabled'">
                  <a class="page-link"
                     th:href="@{/dashboard/product-management/category(page=${categoryPage.number}, size=${categoryPage.size}, name=${searchName}, status=${searchStatus})}">
                    <i class="la la-angle-left"></i></a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, categoryPage.totalPages)}"
                    th:classappend="${categoryPage.number + 1 == i} ? 'active'">
                  <a class="page-link"
                     th:href="@{/dashboard/product-management/category(page=${i}, size=${categoryPage.size}, name=${searchName}, status=${searchStatus})}"
                     th:text="${i}">
                  </a>
                </li>
                <li class="page-item page-indicator"
                    th:classappend="${categoryPage.hasNext()} ? '' : 'disabled'">
                  <a class="page-link"
                     th:href="@{/dashboard/product-management/category(page=${categoryPage.number + 2}, size=${categoryPage.size}, name=${searchName}, status=${searchStatus})}">
                    <i class="la la-angle-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
          <!--Navigation end-->
        
        </div>
      </div>
    </div>
    <!--Data table end-->
    
    <!--Create category modal start-->
    <div class="modal fade bd-example-modal-lg" id="createCategoryModal" tabindex="-1" role="dialog"
         aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thêm danh mục</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <div class="row page-titles mx-0">
                  <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                      <h4>Chào mừng quay lại!</h4>
                      <p class="mb-0">Danh mục</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="form-validation">
                          <form th:action="@{/dashboard/product-management/category}"
                                method="POST"
                                th:object="${categoryModel}">
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label"
                                         for="categoryName">
                                    Tên danh mục
                                  </label>
                                  <div class="col-lg-8">
                                    <input type="text" class="form-control"
                                           id="categoryName" name="name"
                                           placeholder="Nhập tên">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label"
                                         for="categoryStatus">
                                    Trạng thái
                                    <span class="text-danger">*</span>
                                  </label>
                                  <div class="col-lg-8">
                                    <select class="form-control default-select"
                                            id="categoryStatus" name="status">
                                      <option th:value="true">Hoạt động</option>
                                      <option th:value="false">Không hoạt động</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger light"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="submit" class="btn btn-primary">Save
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Create category modal end-->
    
    <!--Edit category modal start-->
    <div class="modal fade bd-example-modal-lg" id="editCategoryModal" tabindex="-1" role="dialog"
         aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sửa danh mục</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <div class="row page-titles mx-0">
                  <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                      <h4>Chào mừng quay lại!</h4>
                      <p class="mb-0">Danh mục</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="form-validation">
                          <form th:action="@{/dashboard/product-management/category/update}"
                                method="POST"
                                th:object="${editCategoryModel}">
                            <input type="hidden" id="categoryIdEdit" th:field="*{id}"/>
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label"
                                         for="categoryNameEdit">
                                    Tên danh mục
                                  </label>
                                  <div class="col-lg-8">
                                    <input type="text" class="form-control"
                                           id="categoryNameEdit" name="name"
                                           placeholder="Nhập tên">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label"
                                         for="categoryStatusEdit">Trạng thái
                                    <span class="text-danger">*</span>
                                  </label>
                                  <div class="col-lg-8">
                                    <select class="form-control default-select"
                                            id="categoryStatusEdit" th:field="*{status}">
                                      <option th:value="true">Hoạt động</option>
                                      <option th:value="false">Không hoạt động</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger light"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="submit" class="btn btn-primary">Save changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Edit category modal end-->
    
    <!-- Delete category modal start -->
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Bạn chắc là muốn xóa danh mục này chứ ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form id="deleteTransactionForm" method="post" action="">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete category modal end -->
  
  </div>
</th:block>
<th:block id="th-js">
  <script>
    $(document).on('click', '[data-target="#editCategoryModal"]', function () {
      const button = $(this);
      
      // Fetch values from data attributes
      const id = button.data('id');
      const name = button.data('name');
      const status = button.data('status');
      
      console.log("status :", status);
      
      // Populate the modal form fields
      $('#categoryIdEdit').val(id);
      $('#categoryNameEdit').val(name);
      $('#categoryStatusEdit').val(String(status)).trigger('change')
    });
    
    $('#editCategoryModal').on('hidden.bs.modal', function () {
      $(this).find('form')[0].reset();
    });
    
    $(document).on('click', '[data-target="#deleteCategoryModal"]', function () {
      const categoryId = $(this).data('id');
      const formAction = `/dashboard/product-management/category/delete/${categoryId}`;
      $('#deleteTransactionForm').attr('action', formAction);
    });
  </script>
</th:block>
</body>
</html>