<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block th:fragment="topHeaderFragment">
  <div class="top-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 col-sm-8 col-md-5 col-lg-4">
          <div class="currency-picker">
            <span class="selected-currency">VND</span>
            <ul id="currencies">
              <li data-currency="INR" class="">INR</li>
              <li data-currency="GBP" class="">GBP</li>
              <li data-currency="CAD" class="">CAD</li>
              <li data-currency="USD" class="selected">USD</li>
              <li data-currency="AUD" class="">AUD</li>
              <li data-currency="EUR" class="">EUR</li>
              <li data-currency="JPY" class="">JPY</li>
            </ul>
          </div>
          <div class="language-dropdown">
            <span class="language-dd">Viet Nam</span>
            <ul id="language">
              <li class="">German</li>
              <li class="">French</li>
            </ul>
          </div>
          <p class="phone-no"><i class="anm anm-phone-s"></i> +84 385 199 661</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
          <div class="text-center"><p class="top-header_middle-text"></p></div>
        </div>
        <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
          <span class="user-menu d-block d-lg-none">
            <i class="anm anm-user-al" aria-hidden="true"></i>
          </span>
          <ul class="customer-links list-inline mb-0 d-flex justify-content-end align-items-center">
            <li class="d-flex align-items-center">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg" style="margin-right: 6px;">
                <path d="M12 14C8.686 14 6 16.686 6 20H18C18 16.686 15.314 14 12 14Z"
                      stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 12C14.209 12 16 10.209 16 8C16 5.791 14.209 4 12 4C9.791 4 8 5.791 8 8C8 10.209 9.791 12 12 12Z"
                      stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <a th:href="@{/online/customer/profile}" class="text-white text-decoration-none">
                Tài khoản của tôi
              </a>
            </li>
          </ul>
        </div>        
        <!-- <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
          <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
          <ul class="customer-links list-inline">
            <li><a th:href="@{/auth/login/online}">Đăng nhập</a></li>
            <li><a href="/auth/register/online">Đăng kí tài khoản</a></li>
            <li><a th:href="@{/auth/logout}">Đăng xuất</a></li>
            <li><a th:href="@{/online/customer/profile}">Tài khoản của bạn</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</th:block>

</body>
</html>