<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/admin-dashboard/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block id="th-css">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="card">
        
        <div class="card-header d-sm-flex d-block">
          <div class="mr-auto mb-sm-0 mb-3">
            <h4 class="card-title font-w600 mb-2">Quản lý sản phẩm</h4>
          </div>
          <a type="button" th:href="@{/dashboard/product-management/product/add}"
             class="btn btn-secondary ml-auto">+
            Thêm mới
          </a>
        </div>
        <div class="card-body">
          <div class="basic-form">
            <form th:action="@{/dashboard/product-management/product}" method="GET" id="searchForm">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="searchCategoryId">Danh mục</label>
                  <select class="form-control" id="searchCategoryId" name="categoryId">
                    <option value="" selected>Danh mục</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${category.id == request.categoryId}">
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label>Code</label>
                  <input id="searchCode" type="text" name="code" class="form-control" th:value="${request.code}"
                         placeholder="Nhập code sản phẩm tìm kiếm">
                </div>
                <div class="form-group col-md-3">
                  <label>Tên</label>
                  <input id="searchName" type="text" name="name" class="form-control" th:value="${request.name}"
                         placeholder="Nhập tên sản phẩm tìm hiếm">
                </div>
                <div class="form-group col-md-3">
                  <label>Trạng thái</label>
                  <select id="searchStatus" class="form-control" name="status">
                    <option value="" selected>Trạng thái</option>
                    <option
                        th:each="statusOpt : ${T(org.fpoly.capstone.entity.enum_status.ProductStatus).values()}"
                        th:value="${statusOpt}"
                        th:selected="${statusOpt == request.status}">
                      
                      <span th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductStatus).DANG_SU_DUNG}">ĐANG SỬ DỤNG</span>
                      <span
                          th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductStatus).NGUNG_SU_DUNG}">NGỪNG SỬ DỤNG</span>
                      <span th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductStatus).HET_SAN_PHAM}">HẾT SẢN PHẨM</span>
                    </option>
                  </select>
                
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                <button type="button" class="btn btn-secondary ml-2" onclick="clearForm()">Clear</button>
              </div>
            </form>
          </div>
        </div>
        <!--Data table start-->
        <div class="card-body">
          <div class="table-responsive">
            
            <!--Table start-->
            <table class="table style-1">
              <thead>
              <tr>
                <th>#</th>
                <th>Danh mục</th>
                <th>Tên</th>
                <th>Code</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Người tạo</th>
                <th>Ngày sửa</th>
                <th>Người sửa</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:if="${#lists.isEmpty(products)}">
                <td colspan="10" class="text-center pt-5"><h3>KHÔNG TÌM THẤY DỮ LIỆU</h3></td>
              </tr>
              <tr th:each="product, index : ${products}">
                <td th:text="${index.index+1}"></td>
                <td th:text="${product.categoryName}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.code}"></td>
                <td>
                  <span
                      th:if="${product.status == T(org.fpoly.capstone.entity.enum_status.ProductStatus).NGUNG_SU_DUNG}"
                      class="badge light badge-danger">NGƯNG SỬ DỤNG</span>
                  <span
                      th:if="${product.status == T(org.fpoly.capstone.entity.enum_status.ProductStatus).DANG_SU_DUNG}"
                      class="badge light badge-success">ĐANG SỬ DỤNG</span>
                  <span
                      th:if="${product.status == T(org.fpoly.capstone.entity.enum_status.ProductStatus).HET_SAN_PHAM}"
                      class="badge light badge-secondary">HẾT SẢN PHẨM</span>
                </td>
                <td th:text="${product.createDate}"></td>
                <td th:text="${product.createBy}"></td>
                <td th:text="${product.lastModifiedDate}"></td>
                <td th:text="${product.updateBy}"></td>
                <td>
                  <div class="d-flex action-button">
                    <button type="button" class="btn btn-info btn-xs light px-2"
                            data-toggle="modal"
                            data-target="#editProductModal"
                            th:data-id="${product.id}"
                            th:data-categoryId="${product.categoryId}"
                            th:data-code="${product.code}"
                            th:data-name="${product.name}"
                            th:data-status="${product.status}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                    <a href="#" class="ml-2 btn btn-xs px-2 light btn-danger"
                       data-toggle="modal"
                       data-target="#deleteProductModal"
                       th:data-id="${product.id}">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 6H5H21" stroke="#fff" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path
                            d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                            stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </a>
                    
                    <a th:href="@{/dashboard/product-management/product-detail?(productId = ${product.id})}"
                       class="ml-2 btn btn-xs px-2 light btn-secondary"
                       th:data-id="${product.id}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                           class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                      </svg>
                    </a>
                    
                    <a th:if="${product.status != T(org.fpoly.capstone.entity.enum_status.ProductStatus).NGUNG_SU_DUNG}"
                       th:href="@{/dashboard/product-management/product-detail/add/{productId}(productId=${product.id})}"
                       class="ml-2 btn btn-xs px-2 light btn-primary">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12H20M12 4V20" stroke="#000000" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--Table end-->
            
            <!--Navigation start-->
            <div th:unless="${#lists.isEmpty(products)}" class="d-flex justify-content-end flex-wrap">
              <nav>
                <ul class="pagination pagination-gutter">
                  <li class="page-item page-indicator"
                      th:classappend="${productPage.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product(page=${productPage.number}, size=${productPage.size}, categoryId=${request.categoryId}, name=${request.name}, code=${request.code}, status=${request.status})}">
                      <i class="la la-angle-left"></i></a>
                  </li>
                  <li class="page-item" th:each="i : ${#numbers.sequence(1, productPage.totalPages)}"
                      th:classappend="${productPage.number + 1 == i} ? 'active'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product(page=${i}, size=${productPage.size}, categoryId=${request.categoryId}, name=${request.name}, code=${request.code}, status=${request.status})}"
                       th:text="${i}">
                    </a>
                  </li>
                  <li class="page-item page-indicator"
                      th:classappend="${productPage.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/product(page=${productPage.number + 2}, size=${productPage.size}, categoryId=${request.categoryId}, name=${request.name}, code=${request.code}, status=${request.status})}">
                      <i class="la la-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
            <!--Navigation end-->
          
          </div>
        </div>
        <!--Data table end-->
        
        <!--Create product modal start-->
        <div class="modal fade bd-example-modal-lg" id="createProductModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div class="row page-titles mx-0">
                      <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                          <h4>Chào mừng quay lại!</h4>
                          <p class="mb-0">Danh mục</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
                              <form th:action="@{/dashboard/product-management/product}"
                                    method="POST"
                                    th:object="${productModel}">
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productCategory">
                                        Danh mục
                                        <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-8">
                                        <select class="form-control default-select" id="productCategory"
                                                name="categoryId">
                                          <option value="" selected>Chọn danh mục</option>
                                          <option th:each="category : ${categories}"
                                                  th:value="${category.id}"
                                                  th:text="${category.name}">
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productName">
                                        Tên sản phẩm
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="productName" name="name"
                                               placeholder="Nhập tên">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productCode">
                                        Code
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="productCode" name="code"
                                               placeholder="Nhập code">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger light"
                                          data-dismiss="modal">Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Save
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Create product modal end-->
        
        <!--Edit product modal start-->
        <div class="modal fade bd-example-modal-lg" id="editProductModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Sửa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div class="row page-titles mx-0">
                      <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                          <h4>Chào mừng quay lại!</h4>
                          <p class="mb-0">Danh mục</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
                              <form th:action="@{/dashboard/product-management/product/update}"
                                    method="POST"
                                    th:object="${editProductModel}">
                                <input type="hidden" id="productIdEdit" th:field="*{id}"/>
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productCategoryEdit">
                                        Danh mục
                                        <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-8">
                                        <select class="form-control default-select" id="productCategoryEdit"
                                                name="categoryId">
                                          <option value="" selected>Chọn danh mục</option>
                                          <option th:each="category : ${categories}"
                                                  th:value="${category.id}"
                                                  th:text="${category.name}">
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productNameEdit">
                                        Tên sản phẩm
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="productNameEdit" name="name"
                                               placeholder="Nhập tên">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productCodeEdit">
                                        Code
                                      </label>
                                      <div class="col-lg-8">
                                        <input type="text" class="form-control"
                                               id="productCodeEdit" name="code"
                                               placeholder="Nhập code">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label"
                                             for="productStatusEdit">Trạng thái
                                        <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-8">
                                        <select class="form-control default-select"
                                                id="productStatusEdit" th:field="*{status}">
                                          <option
                                              th:each="statusOpt : ${T(org.fpoly.capstone.entity.enum_status.ProductStatus).values()}"
                                              th:value="${statusOpt}" th:text="${statusOpt}"
                                              th:selected="${editProductModel.status == statusOpt.values()}">
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger light"
                                          data-dismiss="modal">Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Save changes
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Edit product modal end-->
        
        <!-- Delete product modal start -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmDeleteModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn chắc là muốn xóa sản phẩm này chứ ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteTransactionForm" method="post" action="">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete product modal end -->
      
      </div>
    </div>
  </div>
</th:block>
<th:block id="th-js">
  <script>
    $(document).on('click', '[data-target="#editProductModal"]', function () {
      const button = $(this);
      
      // Fetch values from data attributes
      const id = button.data('id');
      const name = button.data('name');
      const code = button.data('code');
      const categoryId = button.data('categoryid');
      
      console.log("categoryid: " + categoryId);
      
      // Populate the modal form fields
      $('#productIdEdit').val(id);
      $('#productNameEdit').val(name);
      $('#productCodeEdit').val(code);
      $('#productCategoryEdit').val(String(categoryId)).trigger('change')
    });
    
    $('#editProductModal').on('hidden.bs.modal', function () {
      $(this).find('form')[0].reset();
    });
    
    $(document).on('click', '[data-target="#deleteProductModal"]', function () {
      const productId = $(this).data('id');
      const formAction = `/dashboard/product-management/product/delete/${productId}`;
      $('#deleteTransactionForm').attr('action', formAction);
    });
    
    document.addEventListener('DOMContentLoaded', function () {
      window.clearForm = function () {
        const searchCategory = document.getElementById('searchCategoryId');
        const searchCode = document.getElementById('searchCode');
        const searchName = document.getElementById('searchName');
        const searchStatus = document.getElementById('searchStatus');
        
        // Đặt lại giá trị cho các trường
        searchCategory.value = ""; // Đặt giá trị của select về rỗng
        searchCode.value = "";
        searchName.value = "";
        searchStatus.value = "";  // Đặt giá trị của select về rỗng
        
        // Nếu vẫn không được, thử thêm đoạn này
        searchCategory.selectedIndex = 0;
        searchStatus.selectedIndex = 0;
      };
    });
  
  </script>
</th:block>
</body>
</html>