<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/admin-dashboard/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Product Management</title>
  <th:block id="th-css">
    <link rel="stylesheet" th:href="@{/assets/admin-dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{/css/product-management/product/add-new-product.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin-dashboard/js/select.dataTables.min.css}">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
          <div class="welcome-text">
            <h4>Hi, welcome back!</h4>
            <span>Thêm sản phẩm</span>
          </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
          </ol>
        </div>
      </div>
      
      <form class="form-update-product-detail"
            th:action="@{/dashboard/product-management/product-detail/update}"
            th:object="${productDetailViewModel}" method="post" enctype="multipart/form-data">
        
        <input type="hidden" th:field="*{id}"/>
        <!--Thong tin san pham start-->
        <div class="row">
          <!-- Feature Image Section -->
          <div class="col-lg-3">
            <div class="ecommerce-gallery" data-mdb-ecommerce-gallery-init data-mdb-zoom-effect="true"
                 data-mdb-auto-height="true">
              <div class="row py-3 shadow-5">
                <!-- Main Image -->
                <div class="col-12 mb-1">
                  <div class="lightbox" data-mdb-lightbox-init>
                    <!-- Main product image that will change when a thumbnail is clicked -->
                    <img id="main-feature-image"
                         th:src="${productDetailViewModel.featureImageUrl}"
                         alt="Gallery image 1"
                         class="ecommerce-gallery-main-img active w-100"/>
                  </div>
                </div>
                
                <!-- Thumbnail Images -->
                <div class="col-12 mt-1">
                  <div class="d-flex">
                    <!-- Loop through your image URLs -->
                    <div th:each="imageUrl : ${productDetailViewModel.imagesUrl}" class="thumb-item">
                      <img th:src="@{${imageUrl}}"
                           alt="Gallery image"
                           class="thumbnail-img w-100"
                           th:data-src="${imageUrl}"
                           onclick="changeMainImage(this)"/>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Thông tin sản phẩm</h4>
              </div>
              <div class="card-body">
                <div class="basic-form">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="productId">Sản phẩm <span class="text-danger">*</span> </label>
                      <select id="productId" name="productId" class="form-control" th:field="*{productId}" disabled
                              required>
                        <option value="" selected>Chọn sản phẩm</option>
                        <option th:each="product : ${products}"
                                th:value="${product.id}"
                                th:text="${product.name}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="brandId">Brand<span class="text-danger">*</span> </label>
                      <select id="brandId" name="brandId" class="form-control" th:field="*{brandId}" disabled
                              required>
                        <option value="" selected>Chọn brand</option>
                        <option th:each="brand : ${brands}"
                                th:value="${brand.id}"
                                th:text="${brand.name}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="materialId">Chất liệu<span class="text-danger">*</span> </label>
                      <select id="materialId" name="materialId" class="form-control" th:field="*{materialId}" disabled
                              required>
                        <option value="" selected>Chọn chất liệu</option>
                        <option th:each="material : ${materials}"
                                th:value="${material.id}"
                                th:text="${material.name}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="colorId">Màu sắc<span class="text-danger">*</span> </label>
                      <select id="colorId" name="colorId" class="form-control" th:field="*{colorId}" disabled
                              required>
                        <option value="" selected>Chọn màu sắc</option>
                        <option th:each="color : ${colors}"
                                th:value="${color.id}"
                                th:text="${color.name}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="sizeId">Size<span class="text-danger">*</span> </label>
                      <select id="sizeId" name="sizeId" class="form-control" th:field="*{sizeId}" disabled
                              required>
                        <option value="" selected>Chọn size</option>
                        <option th:each="size : ${sizes}"
                                th:value="${size.id}"
                                th:text="${size.name}">
                        </option>
                      </select>
                    </div>
                    
                    <div class="form-group col-md-4">
                      <label for="gender">Size<span class="text-danger">*</span> </label>
                      <select id="gender" name="gender" class="form-control" th:field="*{gender}"
                              required disabled>
                        <option value="" selected>Chọn giới tính</option>
                        <option
                            th:each="gender : ${T(org.fpoly.capstone.entity.enum_status.Gender).values()}"
                            th:value="${gender}" th:text="${gender}">
                        </option>
                      </select>
                    </div>
                    
                    <div class="form-group col-md-4">
                      <label>Status<span class="text-danger">*</span> </label>
                      <select class="form-control"
                              id="status" name="status" th:field="*{status}" disabled>
                        <option
                            th:each="statusOpt : ${T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).values()}"
                            th:value="${statusOpt}">
                           <span
                               th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).DANG_SU_DUNG}">ĐANG SỬ DỤNG</span>
                          <span
                              th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).NGUNG_SU_DUNG}">NGỪNG SỬ DỤNG</span>
                          <span
                              th:if="${statusOpt == T(org.fpoly.capstone.entity.enum_status.ProductVariantStatus).HET_SAN_PHAM}">HẾT SẢN PHẨM</span>
                        </option>
                      </select>
                    
                    </div>
                    
                    <div class="form-group col-md-4">
                      <label for="quantity">Số lượng <span class="text-danger">*</span></label>
                      <input id="quantity" type="number" th:field="*{quantity}" name="quantity" class="form-control"
                             readonly
                             placeholder="" required>
                    </div>
                    
                    <div class="form-group col-md-4">
                      <label for="price">Giá tiền (VND) <span class="text-danger">*</span></label>
                      <input id="price" type="number" name="price" th:field="*{price}" class="form-control" readonly
                             placeholder="" required>
                    </div>
                    
                    <div class="form-group col-md-12">
                      <label for="description">Mô tả (tùy chọn)</label>
                      <textarea id="description" name="description" rows="5" class="form-control" readonly
                                th:field="*{description}"
                                placeholder="Mô tả sản phẩm ">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Thong tin san pham end-->
      </form>
    </div>
  </div>

</th:block>

<!-- JS Section -->
<th:block id="th-js">
  <script th:src="@{/assets/admin-dashboard/vendor/jquery-validation/jquery.validate.min.js}"></script>
  <script>
    (function ($) {
      "use strict"
      
      jQuery(".form-create-product").validate({
        ignore: [],
        errorClass: "invalid-feedback animated fadeInUp",
        errorElement: "div",
        errorPlacement: function (e, a) {
          jQuery(a).parents(".form-group").append(e)
        },
        highlight: function (e) {
          jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
        },
        success: function (e) {
          jQuery(e).closest(".form-group").removeClass("is-invalid"), jQuery(e).remove()
        },
      });
      
    })(jQuery);
    
    ClassicEditor
        .create(document.querySelector('#description'), {
          toolbar: [
            'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
            'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList'
          ],
        })
        .catch(error => {
          console.error(error);
        });
    
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
          $('#imageResult')
              .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    
    $(function () {
      $('#upload').on('change', function () {
        readURL(input);
      });
    });
    
    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');
    
    input.addEventListener('change', showFileName);
    
    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = 'File name: ' + fileName;
    }
    
    $("#productMediaGallery").fileinput({
      uploadAsync: false,
      showUpload: false,
      previewFileType: 'image',
      initialPreviewAsData: false, // allows you to set a raw markup
      overwriteInitial: false,
    });
  
  </script>
  <script>
    function changeMainImage(thumbnail) {
      // Get the image URL from the data-src attribute
      var newSrc = thumbnail.getAttribute('data-src');
      
      // Get the main feature image element
      var mainImage = document.getElementById('main-feature-image');
      
      // Change the source of the main image to the clicked thumbnail's image
      mainImage.src = newSrc;
    }
  </script>
  
  <script>
    window.onload = function () {
      const priceInput = document.getElementById('price');
      const priceValue = parseFloat(priceInput.value);
      const formattedPrice = priceValue.toLocaleString('de-DE');
      priceInput.value = formattedPrice;
    };
  </script>
</th:block>

</body>
</html>
