  <!DOCTYPE html>
  <html lang="en" xmlns:th="https://www.thymeleaf.org"
        th:replace="~{views/admin-dashboard/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">

  <head>
    <meta charset="utf-8">
    <th:block id="th-css">
      <link th:href="@{/assets/css/voucher/voucherCreate.css}" rel="stylesheet">
    </th:block>
  </head>

  <body>
  <th:block id="th-body">
    <div class="container">
    <div class="content-body">
      <div class="container-fluid">


        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12"> <!-- Change to col-12 to make it full-width -->
                    <div class="row">
                      <div class="col-12">
                        <h4 class="mb-3 mx-auto d-block">Thêm Khuyến Mại</h4>
                      </div>

                    </div>

                    <hr>
                    <form id="voucherForm" class="needs-validation" novalidate
                          th:action="@{/dashboard/product-management/voucher/create}"
                          th:object="${voucher}" method="post">

                      <!-- Tên Voucher -->
                      <div class="row g-3">

                      <div class="col-12 col-md-6">
                        <label for="name">Tên Voucher</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên..." required oninput="validateName()">
                        <div class="invalid-feedback">
                          Tên không không được trống và không được chứa ký tự đặc biệt.
                        </div>
                      </div>

                      <!-- Số tiền -->
                      <div class="col-12 col-md-6">
                        <label for="value">Số tiền (VND)</label>
                        <input type="text" class="form-control" id="value" name="value" placeholder="Nhập số tiền..." th:field="*{value}" required
                               oninput="formatCurrency(event)">
                        <div class="invalid-feedback">Số tiền phải lớn hơn 10,000 VNĐ và nhỏ hơn 10,000,000 VNĐ và số tiền không được lớn hơn hóa đơn tối thiểu.</div>
                      </div>

                      <!-- Số lượng -->
                      <div class="col-12 col-md-6">
                        <label for="quantity">Số lượng</label>
                        <input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Nhập số lượng..." required min="1" max="10000">
                        <div class="invalid-feedback">Số lượng phải lớn hơn 0 và nhỏ hơn 100.000.</div>
                      </div>

                      <!-- Ngày bắt đầu -->
                      <div class="col-12 col-md-6">
                        <label for="startDate">Ngày bắt đầu</label>
                        <input type="datetime-local" class="form-control" id="startDate" placeholder="Chọn ngày bắt đầu..." th:field="*{startDate}" required>
                        <div class="invalid-feedback">Ngày bắt đầu phải trước ngày kết thúc.</div>
                      </div>

                      <!-- Ngày kết thúc -->
                      <div class="col-12 col-md-6">
                        <label for="endDate">Ngày kết thúc</label>
                        <input type="datetime-local" class="form-control" id="endDate" placeholder="Chọn ngày kết thúc..." th:field="*{endDate}" required>
                        <div class="invalid-feedback">Ngày kết thúc phải sau ngày bắt đầu.</div>
                      </div>

                      <div class="col-12 col-md-6">
                        <label for="minimumBill">Hóa đơn tối thiểu</label>
                        <input type="text" class="form-control" id="minimumBill" th:field="*{minimumBill}" placeholder="Nhập hóa đơn tối thiểu..." required oninput="formatCurrency(event)">
                        <div class="invalid-feedback">Hóa đơn tối thiểu phải lớn hơn 1,000 VNĐ và nhỏ hơn 10,000,000 VNĐ</div>
                      </div>

                      </div>
                      <hr>
                      <div class="btn-container">
                        <!-- Nút quay lại -->
                        <button class="btn btn-back" type="button" onclick="window.history.back();">Quay lại</button>

                        <!-- Nút gửi -->
                        <button class="btn btn-primary" type="submit" >Gửi</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
      <script th:src="@{/assets/js/voucher/voucherCreate.js}"></script>
    </div>
  </th:block>
  </body>
  </html>
