<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/admin-dashboard/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">

<head>
  <meta charset="utf-8">
  <th:block id="th-css">
    <link th:href="@{/assets/css/voucher/voucher.css}" rel="stylesheet">
  </th:block>
</head>

<body>
<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">

<!--      <div class="card">-->
<!--        <div class="card-header d-sm-flex d-block">-->
<!--          <div class="card-title mb-2">Tìm kiếm</div></div>-->
<!--     <div class="container mt-3">-->
<!--     </div>-->
<!--      </div>-->


      <div class="card">

        <div class="card-header d-sm-flex d-block">
          <div class="card-title mb-2">Danh sách phiếu giảm giá</div>
          <form th:action="@{/dashboard/product-management/voucher/search}" id="voucherSearchForm" method="get">
          <div class="d-flex justify-content-end align-items-center gap-2">
            <div class="form-group-search d-flex align-items-center gap-2 me-2">
              <select class="form-control" id="status" name="statusSelect">
                <option value="">Lọc trạng thái</option>
                <option th:each="s : ${status}"
                        th:value="${s}"
                        th:text="${s == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).ACTIVE ? 'Đang hoạt động' :
                (s == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).INACTIVE ? 'Chưa hoạt động' : 'Hết hạn')}">
                </option>
              </select>
            </div>
          <a th:href="@{/dashboard/product-management/voucher/create}" class="btn btn-orange ml-3">+ Thêm voucher</a>
            </div>
          </form>


        </div>

        <form th:action="@{/dashboard/product-management/voucher/search}" method="get">
          <div class="row d-flex">
            <div class="col-4 form-group">
              <label for="name">Tên:</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên tìm kiếm">
            </div>



            <div class="col-4 form-group">
              <label for="startDate">Ngày bắt đầu:</label>
              <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Nhập ngày bắt đầu tìm kiếm">
            </div>


            <div class="col-4 form-group">
              <label for="endDate">Ngày kết thúc:</label>
              <input type="date" class="form-control" id="endDate" name="endDate" placeholder="Nhập ngày kết thúc tìm kiếm">
            </div>


            <div class="form-group d-flex justify-content-end">
              <div class="justify-content-end">
               <button type="submit" class="btn btn-found">
                 Tìm kiếm
               </button>
              </div>
              <div class="justify-content-end ml-4">
                <button type="submit" class="btn-search">
                  Làm mới
                </button>
              </div>

            </div>

          </div>
        </form>

        <div class="card-body">
          <!-- Table Content -->
          <div class="table-responsive">
            <script th:src="@{/assets/js/voucher/listVoucher.js}"></script>

            <table class="table" id="ListDatatableView">
              <thead>
              <tr>
                <th>STT</th>
                <th>Code</th>
                <th>Tên phiếu giảm giá</th>
                <th>Ngày tạo</th>
                <th>Số lượng</th>
                <th>Số tiền</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="voucher,iterStat : ${voucherPage}">
                <td><div th:text="${iterStat.index + 1}"></div></td>
                <td class="limit-text"><div th:text="${voucher.code}"></div></td>
                <td class="limit-text"><div th:text="${voucher.name}"></div></td>
                <td><div th:text="${#dates.format(voucher.createDate, 'dd/MM/yyyy HH:mm')}"></div></td>
                <td><div th:text="${voucher.quantity}"></div></td>
                <td class="voucher-value limit-text" th:text="${voucher.value}"></td>
                <td><div th:text="${#temporals.format(voucher.startDate, 'dd/MM/yyyy HH:mm')}"></div></td>
                <td><div th:text="${#temporals.format(voucher.endDate, 'dd/MM/yyyy HH:mm')}"></div></td>
                <td class="limit-text">
                  <h6 class="text-primary">
                <span class="badge" th:classappend="${voucher.status == voucher.status.ACTIVE ? 'badge-success' : (voucher.status == voucher.status.INACTIVE ? 'badge-warning' : 'badge-danger')}">
                  <span th:text="${voucher.status == voucher.status.ACTIVE ? 'Đang hoạt động' : (voucher.status == voucher.status.INACTIVE ? 'Chưa hoạt động' : 'Hết hạn')}"></span>
                </span>
                  </h6>
                </td>
                <td>
                  <div class="d-flex action-button">
                    <!-- Button to open the modal -->
                    <a th:href="@{/dashboard/product-management/voucher/detail/{id}(id=${voucher.id})}"
                       class="btn btn-warning waring px-2" title="Chi tiết Voucher">
                      <!-- Biểu tượng SVG của ngôi nhà -->
                      <svg class="icon-eye" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 12C2.73 7.61 7.11 4.5 12 4.5C16.89 4.5 21.27 7.61 23 12C21.27 16.39 16.89 19.5 12 19.5C7.11 19.5 2.73 16.39 1 12Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <circle cx="12" cy="12" r="3"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                    </a>


                    <!-- Modal for Voucher Details -->

                    <a th:href="@{/dashboard/product-management/voucher/{id}(id=${voucher.id})}" class="btn btn-info btn-xs light px-2 ml-3" title="Sửa Voucher">
                      <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>

                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <th:block th:if="${!voucherPage.isEmpty()}">
              <nav aria-label="Pagination" class="d-flex justify-content-end">

                <ul class="pagination">
                  <th:block th:if="${#strings.isEmpty(name)} and ${statusSelected} == null and ${startDate} == null and ${endDate} == null">

                  <!-- Nút Previous -->
                  <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/voucher/list(numPage=${currentPage - 1})}"
                       th:if="${currentPage > 1}"
                       aria-label="Previous">
                      &laquo;
                    </a>
                  </li>

                  <li th:each="i : ${#numbers.sequence(currentPage > 1 ? currentPage - 1 : 1, currentPage + 1 <= totalPages ? currentPage + 1 : totalPages)}"
                      th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/voucher/list(numPage=${i})}"
                       th:classappend="${i == currentPage} ? 'active' : ''"
                       th:text="${i}"></a>
                  </li>

                  <!-- Nút Next -->
                  <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/dashboard/product-management/voucher/list(numPage=${currentPage + 1})}"
                       th:if="${currentPage < totalPages}"
                       aria-label="Next">
                      &raquo;
                    </a>
                  </li>

                  </th:block>
                  <th:block th:if="!(${#strings.isEmpty(name)} and ${statusSelected} == null and ${startDate} == null and ${endDate} == null)">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                      <a class="page-link"
                         th:href="@{/dashboard/product-management/voucher/search(
                  numPage=${currentPage - 1},
                  name=${name},
                  status=${statusSelected},
                  startDate=${startDate},
                  endDate=${endDate})}"
                         th:if="${currentPage > 1}"
                         aria-label="Previous">
                        &laquo;
                      </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(currentPage > 1 ? currentPage - 1 : 1, currentPage + 1 <= totalPages ? currentPage + 1 : totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                      <a class="page-link"
                         th:href="@{/dashboard/product-management/voucher/search(
                    numPage=${i},
                    name=${name},
                    status=${statusSelected},
                    startDate=${startDate},
                    endDate=${endDate})}"
                         th:classappend="${i == currentPage} ? 'active' : ''"
                         th:text="${i}"></a>
                    </li>

                    <!-- Nút Next -->
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                      <a class="page-link"
                         th:href="@{/dashboard/product-management/voucher/search(
                  numPage=${currentPage + 1},
                  name=${name},
                  status=${statusSelected},
                  startDate=${startDate},
                  endDate=${endDate})}"
                         th:if="${currentPage < totalPages}"
                         aria-label="Next">
                        &raquo;
                      </a>
                    </li>

                  </th:block>

                </ul>
              </nav>


            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>


</html>

