<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/admin-dashboard/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">

<head>
  <meta charset="utf-8">
  <th:block id="th-css">
<!--    <link th:href="@{/assets/css/voucher/voucherUpdate.css}" rel="stylesheet">-->
  </th:block>

</head>

<body>
<th:block id="th-body">
  <div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Sửa Khuyến mại</h4>
            </div>
            <div class="card-body">
              <div class="form-validation">

                <form id="voucherForm" class="needs-validation" th:action="@{/dashboard/product-management/voucher/update}"
                      th:object="${voucher}" method="post">

                  <input type="hidden" class="form-control" id="id" th:field="*{id}" th:value="${voucher.id}">

                  <div class="row">

                    <div class="col-xl-6">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="name">Tên Voucher</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên..." oninput="validateName()" required>
                          <div class="invalid-feedback">
                            Tên không không được trống và không được chứa ký tự đặc biệt.
                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="value">Số tiền (VND)</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="value" name="value" th:value="${formattedValue}" placeholder="Nhập số tiền..." required oninput="formatCurrency(event)">
                          <div class="invalid-feedback">Số tiền phải lớn hơn 10,000 VNĐ và nhỏ hơn 10,000,000 VNĐ và số tiền không được lớn hơn hóa đơn tối thiểu.</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="quantity">Số lượng</label>
                        <div class="col-lg-6">
                          <input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Nhập số lượng..." required min="1" max="10000">
                          <div class="invalid-feedback">Số lượng phải lớn hơn 0 và nhỏ hơn 100.000.</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="startDate">Ngày bắt đầu</label>
                        <div class="col-lg-6">
                          <input type="datetime-local" class="form-control" id="startDate" name="startDate"
                                 th:value="${#temporals.format(startDate, 'yyyy-MM-dd''T''HH:mm')}" required>                          <div class="invalid-feedback">Ngày bắt đầu phải trước ngày kết thúc.</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="endDate">Ngày kết thúc</label>
                        <div class="col-lg-6">
                          <input type="datetime-local" class="form-control" id="endDate" name="endDate"
                                 th:value="${#temporals.format(endDate, 'yyyy-MM-dd''T''HH:mm')}" required>                          <div class="invalid-feedback">Ngày kết thúc phải sau ngày bắt đầu.</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="minimumBill">Hóa đơn tối thiểu</label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="minimumBill" oninput="formatCurrency(event)"
                                 th:value="${miniBill}" name="miniBill" placeholder="Nhập hóa đơn tối thiểu..." required>                        </div>
                        <div class="invalid-feedback">Hóa đơn tối thiểu phải lớn hơn 1,000 VNĐ và nhỏ hơn 10,000,000 VNĐ</div>
                      </div>
                    </div>

                      <div class="col-xl-6">
                      <div class="form-group row">
                        <label for="status" class="col-lg-4 col-form-label" >Trạng thái</label>
                        <div class="col-lg-6">
                          <select class="form-control" id="status" name="status">
                            <option value="">Chọn trạng thái</option>
                            <option th:each="status : ${status}"
                                    th:text="${status == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).ACTIVE ? 'Đang hoạt động' :
                            (status == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).INACTIVE ? 'Chưa hoạt động' : 'Hết hạn')}"
                                    th:value="${status}"
                                    th:selected="*{status} == ${status}"></option>
                          </select>
                          <div class="invalid-feedback">
                            Trạng thái không được trống. Nếu trạng thái là "Đang hoạt động" nhưng ngày kết thúc đã qua thì trạng thái phải là "Hết hạn".
                          </div>
                        </div>
                      </div>
                      </div>

                  </div>

                  <div style="text-align: right; margin-top: 20px">
                    <button class="btn btn-primary mr-2" type="button" onclick="window.history.back();">Quay lại</button>
                    <button type="submit" class="btn btn-primary">Sửa khuyến mãi</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/assets/js/voucher/voucherUpdate.js}"></script>
  </div>
</th:block>

<!--<th:block id="th-body">-->
<!--<div class="container">-->
<!--  <div class="content-body">-->
<!--    <div class="container-fluid">-->


<!--      <div class="row">-->
<!--        <div class="col-xl-12">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-12">-->

<!--                  <div class="row">-->
<!--                    <div class="col-12">-->
<!--                      <h4 class="mb-3 mx-auto d-block">Sửa Khuyến Mại</h4>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <hr>-->

<!--                  <form id="voucherForm" class="needs-validation" novalidate-->
<!--                        th:action="@{/dashboard/product-management/voucher/update}"-->
<!--                        th:object="${voucher}" method="post">-->

<!--                    <input type="hidden" class="form-control" id="id" th:field="*{id}" th:value="${voucher.id}">-->

<!--                      <div class="row g-3">-->

<!--                        &lt;!&ndash; Tên voucher &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="name" class="form-label">Tên Voucher</label>-->
<!--                          <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên..." required oninput="validateName()">-->
<!--                          <div class="invalid-feedback">-->
<!--                            Tên không được trống và không được chứa ký tự đặc biệt.-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Giá trị &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="value" class="form-label">Số tiền (VND)</label>-->
<!--                          <input type="text" class="form-control" id="value" name="value" th:value="${formattedValue}" placeholder="Nhập số tiền..." required oninput="formatCurrency(event)">-->
<!--                          <div class="invalid-feedback">Số tiền phải từ 10.000 VNĐ đến 10.000.000 VNĐ và không được lớn hơn hóa đơn tối thiểu.</div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Số lượng &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="quantity" class="form-label">Số lượng</label>-->
<!--                          <input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Nhập số lượng..." required min="1" max="10000">-->
<!--                          <div class="invalid-feedback">Số lượng phải lớn hơn 0 và nhỏ hơn 100.000.</div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Ngày bắt đầu &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="startDate" class="form-label">Ngày bắt đầu</label>-->
<!--                          <input type="datetime-local" class="form-control" id="startDate" name="startDate"-->
<!--                                 th:value="${#temporals.format(startDate, 'yyyy-MM-dd''T''HH:mm')}" required>-->
<!--                          <div class="invalid-feedback">Ngày bắt đầu phải trước ngày kết thúc.</div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Ngày kết thúc &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="endDate" class="form-label">Ngày kết thúc</label>-->
<!--                          <input type="datetime-local" class="form-control" id="endDate" name="endDate"-->
<!--                                 th:value="${#temporals.format(endDate, 'yyyy-MM-dd''T''HH:mm')}" required>-->
<!--                          <div class="invalid-feedback">Ngày kết thúc phải sau ngày bắt đầu.</div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Hóa đơn tối thiểu &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="minimumBill" class="form-label">Hóa đơn tối thiểu</label>-->
<!--                          <input type="text" class="form-control" id="minimumBill" oninput="formatCurrency(event)"-->
<!--                                 th:value="${miniBill}" name="miniBill" placeholder="Nhập hóa đơn tối thiểu..." required>-->
<!--                          <div class="invalid-feedback">Hóa đơn tối thiểu phải từ 1.000 VNĐ đến 10.000.000 VNĐ.</div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Trạng thái &ndash;&gt;-->
<!--                        <div class="col-12 col-md-6">-->
<!--                          <label for="status" class="form-label">Trạng thái</label>-->
<!--                          <select class="form-control" id="status" name="status">-->
<!--                            <option value="">Chọn trạng thái</option>-->
<!--                            <option th:each="status : ${status}"-->
<!--                                    th:text="${status == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).ACTIVE ? 'Đang hoạt động' :-->
<!--                            (status == T(org.fpoly.capstone.entity.enum_status.VoucherStatus).INACTIVE ? 'Chưa hoạt động' : 'Hết hạn')}"-->
<!--                                    th:value="${status}"-->
<!--                                    th:selected="*{status} == ${status}"></option>-->
<!--                          </select>-->
<!--                          <div class="invalid-feedback">-->
<!--                            Trạng thái không được trống. Nếu trạng thái là "Đang hoạt động" nhưng ngày kết thúc đã qua thì trạng thái phải là "Hết hạn".-->
<!--                          </div>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                    <hr>-->
<!--                      &lt;!&ndash; Nút hành động &ndash;&gt;-->
<!--                      <div class="btn-container">-->
<!--                        &lt;!&ndash; Nút quay lại &ndash;&gt;-->
<!--                        <button class="btn btn-back" type="button" onclick="window.history.back();">Quay lại</button>-->

<!--                        &lt;!&ndash; Nút gửi &ndash;&gt;-->
<!--                        <button class="btn btn-primary" type="submit" >Gửi</button>-->
<!--                      </div>-->


<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <script th:src="@{/assets/js/voucher/voucherUpdate.js}"></script>-->

<!--</div>-->
<!--</th:block>-->
</body>


</html>