<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">

<head>
    <meta charset="utf-8">
    <th:block id="th-css">
    </th:block>

</head>

<body>
<th:block id="th-body">
    <div class="content-body">
        <div class="container-fluid">
            <!-- Add Project -->
            <div class="modal fade" id="addProjectSidebar">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Project</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="text-black font-w500">Project Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="text-black font-w500">Deadline</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="text-black font-w500">Client Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary">CREATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, Chào mừng bạn trở lại!</h4>
                        <p class="mb-0">Sửa voucher</p>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Voucher</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Sửa Voucher</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-8 order-lg-1">
                                    <h4 class="mb-3">Sửa voucher</h4>
                                    <form th:action="@{/dashboard/product-management/voucher-detail/update}" th:object="${list}" method="post" class="needs-validation" novalidate="">
                                        <input type="hidden" class="form-control" id="id" th:value="${list.id}" placeholder="" value="" required="">


                                        <div class="mb-3">
                                            <label for="billId">Bill</label>
                                            <select class="form-control" id="billId" name="bill">
                                                <option value="">Chọn trạng thái</option>
                                                <option th:each="bill : ${bill}"
                                                        th:value="${bill}"
                                                        th:text="${bill}"
                                                        th:selected="${bill == list.bill.id}"></option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a valid status.
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="voucherId">Voucher</label>
                                            <select class="form-control" id="voucherId" name="voucher">
                                                <option value="">Chọn trạng thái</option>
                                                <option th:each="voucher : ${voucher}"
                                                        th:value="${voucher}"
                                                        th:text="${voucher}"
                                                        th:selected="${voucher == list.voucher.id}"></option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a valid status.
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="beforePrice">Giá trước</label>
                                                <input type="text" class="form-control" id="beforePrice" th:value="${list.beforePrice}" placeholder="" value="" required="">
                                                <div class="invalid-feedback">
                                                    Valid code is required.
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="afterPrice">Giá sau</label>
                                                <input type="text" class="form-control" id="afterPrice" th:value="${list.afterPrice}" placeholder="" value="" required="">
                                                <div class="invalid-feedback">
                                                    Valid name is required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="discountPrice">Tổng giá</label>
                                            <input type="number" class="form-control" id="discountPrice" th:value="${list.discountPrice}">
                                            <div class="invalid-feedback">
                                                Please enter a valid email address for shipping updates.
                                            </div>
                                        </div>



                                        <hr class="mb-4">

                                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sửa</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>


</html>