<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{views/user-online-view/layout/app_layout::appLayoutFragment(~{::#th-css}, ~{::#th-js}, ~{::#th-body})}">
<head>
  <meta charset="UTF-8">
  <title>Index user</title>
  <th:block id="th-css">
  </th:block>
</head>
<body>

<th:block id="th-body">
  <!--Body Content-->
  <div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center mt-5">
      <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Đăng nhập</h1></div>
        <div th:if="${param.error}">
          <div class="alert alert-danger">Sai email hoặc mật khẩu</div>
        </div>
        <div th:if="${param.logout}">
          <div class="alert alert-success">Bạn đã được đăng xuất</div>
        </div>
      </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
          <div class="mb-4">
            <form method="post" th:action="@{/auth/login}" id="CustomerLoginForm" accept-charset="UTF-8"
                  class="contact-form">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="CustomerEmail">Email</label>
                    <input type="email" name="username" placeholder="hello@example.com" id="CustomerEmail" class=""
                           autocorrect="off" autocapitalize="off" autofocus="">
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="CustomerPassword">Mật khẩu</label>
                    <input type="password" value="" name="password" placeholder="" id="CustomerPassword"
                           class="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="submit" class="btn mb-3" value="Đăng nhập">
                  <p class="mb-4">
                    <a href="#" id="RecoverPassword">Quên mật khẩu?</a> &nbsp; | &nbsp;
                    <a href="register.html" id="customer_register_link">Tạo tài khoản</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <!--End Body Content-->
</th:block>

</body>
<th:block id="th-js">
</th:block>
</html>